﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_DosageFormUnit>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.UnitId).Hidden();
            columns.Bound(p => p.UnitCode).Title(PH.DosageFormUnit.UnitCode).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.UnitName).Title(PH.DosageFormUnit.UnitName).AddDefaultOptions();

            columns.Bound(p => p.CountryCode).Title(PH.DosageFormUnit.CountryCode).AddDefaultOptions();

            columns.AddAuditColumns();
            columns.AddActionColumns("UnitId");
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.UnitId);
                            model.Field(a => a.UnitId).Editable(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.UnitCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.UnitName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>