﻿@model DB.ORM.DB.ProfileTargetNewDoctorApproval

<style>
    .k-diagram, .k-map {
        height: 400px;
        width: 60vw;
        margin: auto;
    }
</style>

        <div style="padding:20px;">
               @(Html.Kendo().Map()   
               .Name("map")
               .Center((double)Model.Latitude, (double)Model.Longitude)
               .Zoom(7)
               .Layers(layers =>
               {
                   layers.Add()
                       .Type(MapLayerType.Tile)
                       .UrlTemplate("http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                       .Subdomains("a", "b", "c")
                       .Attribution("&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>");
               })
               .Markers(markers =>
               {
                   markers.Add()
                       .Location((double)Model.Latitude, (double)Model.Longitude)
                       .Shape(MapMarkersShape.PinTarget)
                       .Tooltip(tooltip => tooltip.Content(""));
               })
               .Events(e => e.Click("onClick"))
             )
         </div>

                             