﻿@model DB.ORM.DB.ProfileTargetNewDoctorApproval.ProfileTargetNewDoctorApprovalDto
@{
    var title = PH.NewDoctorRequest.ApproveForm;
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<div class="portlet light ">
    @Html.FormHeaderTabbed((string)title, new FormHeaderTab { Id = "tabs_1", Name = PH.NewDoctorRequest.DoctorDetails }, new FormHeaderTab { Id = "tabs_2", Name = PH.NewDoctorRequest.AccountDetails })
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="form-body">

            @using (Html.BeginForm("Approve", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
            {
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs_1">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.TargetDoctorApprovalId)
                        @Html.HiddenFor(m => m.CountryId)
                        @Html.HiddenFor(m => m.ProfileId)
                        @Html.HiddenFor(m => m.ApprovalStatus)
                        @Html.HiddenFor(m => m.AdminApprove)
                        @Html.HiddenFor(m => m.CreatedById)
                        @Html.HiddenFor(m => m.SupervisorId)

                        @Html.FormDropDownListRow(m => m.DoctorId, "valueMapperDoctor", "ReadDoctorsList", "Lookup", "DoctorName", "DoctorId", "#= DoctorName# - #= SpecialtyName# -  #= PotentialName#", false, PH.NewDoctorRequest.Doctors, "DoctorsId")
                        @Html.FormDropDownListRow(m => m.TimeId, (List<SelectListItem>)ViewBag.TimeDif, false, "Activation Date")
                        @Html.FormEditorRow(m => m.DoctorName, PH.Doctor.DoctorName, true)
                        @Html.FormDropDownListRow(m => m.PotentialId, (List<SelectListItem>)ViewBag.Potentials, true, PH.NewDoctorRequest.DoctorPotential)
                        @Html.FormDropDownListRow(m => m.SpecialtyId, (List<SelectListItem>)ViewBag.Specialties, true, PH.Doctor.Specialty)
                        @Html.FormDropDownListRow(m => m.Gender, (List<SelectListItem>)ViewBag.Genders, true, PH.Doctor.Gender)
                        @Html.FormEditorRow(m => m.Mobile, PH.Doctor.Mobile)
                        @Html.FormEditorRow(m => m.Frequency, PH.NewDoctorRequest.Frequency, true)
                    </div>
                    <div class="tab-pane" id="tabs_2">
                        <div class="row">
                            <div class=" col-md-6">
                                @Html.FormDropDownListRow(m => m.AccountId, "valueMapper", "ReadAccountsList", "Lookup", "AccountName", "AccountId", "#= AccountCode# | #= AccountName # | address: #=Address# | #=TerritoryName# ", false, PH.NewDoctorRequest.Accounts, "AccountsId")
                                @Html.FormEditorRow(m => m.AccountName, PH.Account.AccountName)
                                @Html.FormEditorRow(m => m.AccountCode, PH.Account.AccountCode)
                                @Html.FormEditorRow(m => m.Address, PH.Account.Address)
                                @Html.FormDropDownListRow(m => m.TerritoryId, (List<SelectListItem>)ViewBag.Territories, true, PH.NewDoctorRequest.Territories)
                            </div>
                            <div class=" col-md-6">
                                @Html.FormDropDownListRow(m => m.AccountTypeId, (List<SelectListItem>)ViewBag.AccountTypes, true, PH.NewDoctorRequest.AccountTypes)
                                @Html.FormDropDownListRow(m => m.CategoryId, (List<SelectListItem>)ViewBag.AccountCategories, true, PH.NewDoctorRequest.AccountCategories)
                                @Html.FormDropDownListRow(m => m.AccountPotentialId, (List<SelectListItem>)ViewBag.Potentials, true, PH.NewDoctorRequest.AccountPotential)
                                @Html.FormEditorRow(m => m.Latitude, PH.NewDoctorRequest.Latitude)
                                @Html.FormEditorRow(m => m.Longitude, PH.NewDoctorRequest.Longitude)
                            </div>
                        </div>
                        @Html.Partial("_Map", Model)
                        @Html.FormActionsRow(new FormActionButton{ Label=PH.NewDoctorRequest.Approve, Type="submit", CssClass="btn-success", OtherProperties= " id=\"approve\"" }
                  , new FormActionButton { Label= PH.NewDoctorRequest.Reject, Type="submit", CssClass="btn-danger", OtherProperties = " id=\"reject\"" }
                  , FormActionLink.BackButton()
                  )
                    </div>
                </div>


            }
        </div>
    </div>
</div>
<style>


    .row .col-md-10 {
        width: 64.33333%;
    }

    .row .col-md-2 {
        width: 35.66667%;
    }
</style>
<script src="~/Scripts/swal/swal2.js"></script>

<script>
      $(document).ready(function () {

           $("#approve").click(function () {
                $("form").attr("action", "@Url.Action("Approve")");
           });

           $("#reject").click(function () {
                $("form").attr("action", "@Url.Action("Reject")");
           });

          $("#TimeId").change(function () {
              var data = $("#TimeId").data("kendoDropDownList");
              value = data.value();
              text = data.text();

              if (text.indexOf('Current') > -1) {
                  Swal.fire({
                      title: "Attention!",
                      text: "Medical Rep Target Will Be Affected By Adding This Doctor",
                      icon: "info",
                      confirmButtonText: "OK",
                      confirmButtonColor: '#3085d6',
                      showCancelButton: false,
                      showCloseButton: true

                  })
              }
          });

      });

    function onClick(e)
    {
        var map = $("#map").data("kendoMap");
        map.bind("click", function (e) {
            if (map.markers.items.length == 0) {
                map.markers.add({ location: e.location })
            } else {
                var marker = map.markers.items[0];
                marker.location(e.location);
            }
            $('#Latitude').val(e.location.lat);
            $('#Longitude').val(e.location.lng);

        });
    }


    function valueMapper(options)
    {
        $.ajax({
            url: "@Url.Action("Accounts_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function valueMapperDoctor(options)
    {
        $.ajax({
            url: "@Url.Action("Doctors_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
     }

    function convertValues(value)
    {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>
