﻿@{
    Layout = ViewBag.Layout;
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/swal/swal.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List")
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_ProfiletargetNewDoctor>()
                            .Name("Grid")
                            .Columns(columns =>
                            {
                            columns.Bound(p => p.TargetDoctorApprovalId).Hidden();
                            columns.Bound(p => p.DoctorName).Title(PH.Doctor.DoctorName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.AccountName).Title(PH.Doctor.Account).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.EmployeeName).Title(PH.NewDoctorRequest.EmployeeName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.SupervisorName).Title(PH.NewDoctorRequest.Supervisor).AddDefaultOptionsAndViewInMobile();

                            columns.AddActionColumns("TargetDoctorApprovalId",
             ListActionColumn.GenericSwALColumn("TargetDoctorApprovalId", Url.Action("CheckRequest", formController), "fa fa-eye", false, "edit"),
             ListActionColumn.GenericSwALColumn("TargetDoctorApprovalId", Url.Action("ApproveRequest", formController), "fa fa-check", true, "approve", PH.SWAL.ApproveHeader,
                            string.Format(PH.SWAL.SwALSuccessMessage, PH.NewDoctorRequest.ViewNameSingular, PH.SWAL.Approved), PH.SWAL.SwAlCancelled, string.Format(PH.SWAL.SwAlSafe, PH.NewDoctorRequest.ViewNameSingular), PH.SWAL.SwALConfirmquestion, string.Format(PH.SWAL.SwALWill, PH.SWAL.Approve, PH.NewDoctorRequest.ViewNameSingular), PH.SWAL.SwALwarning, PH.SWAL.SwALAppove
                            , PH.SWAL.SwALNoCancel),
                        ListActionColumn.GenericSwALColumn("TargetDoctorApprovalId", Url.Action("RejectRequest", formController), "fa fa-close", true, "reject", PH.SWAL.RejectedHeader,
                            string.Format(PH.SWAL.SwALSuccessMessage, PH.NewDoctorRequest.ViewNameSingular, PH.SWAL.Rejected), PH.SWAL.SwAlCancelled, string.Format(PH.SWAL.SwAlSafe, PH.NewDoctorRequest.ViewNameSingular), PH.SWAL.SwALConfirmquestion, string.Format(PH.SWAL.SwALWill, PH.SWAL.Reject, PH.NewDoctorRequest.ViewNameSingular), PH.SWAL.SwALwarning, PH.SWAL.SwAlyesReject
                            , PH.SWAL.SwALNoCancel));
                            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                                })
                                                .AddDefaultOptions()
                                                .Events(e => e.DataBound("OnDataBound"))
                                                .DataSource(dataSource => dataSource
                                                    .AddDefaultSettings(model =>
                                                    {
                                                        model.Id(p => p.TargetDoctorApprovalId);
                                                        model.Field(a => a.TargetDoctorApprovalId).Editable(false);
                                                    })
                                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Period</strong>
            <p class="col-template-val">#=data.PeriodName#</p>
            <strong>EmployeeName</strong>
            <p class="col-template-val">#=data.EmployeeName#</p>

            <strong>Status</strong>
            <p class="col-template-val">#=data.TargetStatus#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>

<script>
     OnDataBound = (e) => {
        var rows = $("#Grid").data("kendoGrid").dataSource.data();
        jQuery.each(rows, function (i, val) {
            $('#edit_' + val.TargetDoctorApprovalId).kendoTooltip({ content:'@PH.NewDoctorRequest.Tooltipcheckrequest', position: "top",width: 120});
            $('#approve_' + val.TargetDoctorApprovalId).kendoTooltip({ content:'@PH.NewDoctorRequest.TooltipApproveReuest', position: "top",width: 120});
            $('#reject_' + val.TargetDoctorApprovalId).kendoTooltip({ content:'@PH.NewDoctorRequest.TooltipRejectReuest', position: "top",width: 120});

        });
    }
</script>