﻿@model DB.ORM.DB.ProfileTargetNewDoctorApproval
@{
    var title = PH.NewDoctorRequest.ApproveForm;
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}


<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderTabbed((string)title, new FormHeaderTab { Id = "tabs_1", Name = PH.NewDoctorRequest.DoctorDetails }, new FormHeaderTab { Id = "tabs_2", Name = PH.NewDoctorRequest.AccountDetails })
    <!-- tile body -->
    <div class="portlet-body form">

        <div class="form-body">


            @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
            {
                <div class="tab-content">
                    <div class="tab-pane active" id="tabs_1">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(m => m.TargetDoctorApprovalId)
                        @Html.HiddenFor(m => m.CountryId)
                        @Html.HiddenFor(m => m.ProfileId)
                        @Html.HiddenFor(m => m.CreatedById)


                        @Html.FormEditorRow(m => m.DoctorName, PH.Doctor.DoctorName, true,"",false,"",true)
                        @Html.FormDropDownListRow(m => m.PotentialId, (List<SelectListItem>)ViewBag.Potentials, true, PH.NewDoctorRequest.DoctorPotential,"",false,true)
                        @Html.FormDropDownListRow(m => m.SpecialtyId, (List<SelectListItem>)ViewBag.Specialties, true, PH.Doctor.Specialty, "", false, true)
                        @Html.FormDropDownListRow(m => m.Gender, (List<SelectListItem>)ViewBag.Genders, true, PH.Doctor.Gender, "", false, true)
                        @Html.FormEditorRow(m => m.Mobile, PH.Doctor.Mobile,false, "", false, "", true)
                        @Html.FormEditorRow(m => m.Frequency, PH.NewDoctorRequest.Frequency, true, "", false, "", true)
                    </div>

                    <div class="tab-pane" id="tabs_2">
                        <div class="row">
                            <div class=" col-md-6">
                                @Html.FormEditorRow(m => m.AccountName, PH.Account.AccountName,false, "", false, "", true)
                                @Html.FormEditorRow(m => m.AccountCode, PH.Account.AccountCode,false, "", false, "", true)
                                @Html.FormEditorRow(m => m.Address, PH.Account.Address,false, "", false, "", true)
                                @Html.FormDropDownListRow(m => m.TerritoryId, (List<SelectListItem>)ViewBag.Territories, true, PH.NewDoctorRequest.Territories, "", false, true)
                                @Html.FormDropDownListRow(m => m.AccountTypeId, (List<SelectListItem>)ViewBag.AccountTypes, true, PH.NewDoctorRequest.AccountTypes, "", false, true)

                            </div>
                            <div class=" col-md-6">
                                @Html.FormDropDownListRow(m => m.CategoryId, (List<SelectListItem>)ViewBag.AccountCategories, true, PH.NewDoctorRequest.AccountCategories, "", false, true)
                                @Html.FormDropDownListRow(m => m.AccountPotentialId, (List<SelectListItem>)ViewBag.Potentials, true, PH.NewDoctorRequest.AccountPotential, "", false, true)
                                @Html.FormEditorRow(m => m.Latitude, PH.NewDoctorRequest.Latitude,false, "", false, "", true)
                                @Html.FormEditorRow(m => m.Longitude, PH.NewDoctorRequest.Longitude,false, "", false, "", true)
                            </div>
                        </div>
                        @Html.Partial("_Map", Model)

                        @Html.FormActionsRow(new FormActionButton{ Label= PH.NewDoctorRequest.Approve, Type="submit", CssClass="btn-success", OtherProperties= " id=\"approve\"" }
                  , new FormActionButton { Label= PH.NewDoctorRequest.Reject, Type="submit", CssClass="btn-danger", OtherProperties = " id=\"reject\"" }
                  , FormActionLink.BackButton()
                  )
                    </div>
                </div>


            }
        </div>
    </div>
</div>
<style>

    .row .col-md-10 {
        width: 64.33333%;
    }

    .row .col-md-2 {
        width: 35.66667%;
    }
</style>
<script>
   $(document).ready(function () {

       $("#approve").click(function () {
            $("form").attr("action", "@Url.Action("Approve")");
       });

       $("#reject").click(function () {
            $("form").attr("action", "@Url.Action("Reject")");
       });
       
   });
</script>
