﻿@model DB.ORM.DB.vw_TargetAdjustment
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    int valueType = (int)Services.Helper.EnumHelpers.TargetAdjustmentType.TargetValue;

}
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("Submit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, true, PH.TargetAdjustment.Product)
            @Html.FormDropDownListRow(m => m.TimeId, (List<SelectListItem>)ViewBag.Time, true, PH.TargetAdjustment.Month)
            @Html.FormDropDownListRow(m => m.TypeId, (List<SelectListItem>)ViewBag.types, true, PH.TargetAdjustment.Target, "typeId")
            @Html.FormEditorRow(m => m.TargetValue, PH.TargetAdjustment.Quantity, false, "TargetValue", true)
            <br /><br />
            @Html.FormDropDownListRow(m => m.ProfileId, (List<SelectListItem>)ViewBag.Profiles, false, PH.TargetAdjustment.Profile)
            @Html.FormDropDownListRow(m => m.TerritoryId, null, false, PH.TargetAdjustment.Territory)

            @Html.FormActionsRow()
        </div>
        }

    </div>
    <!-- /tile body -->
</div>


<script>
    $(function () {
        $('#TerritoryId').empty();
    });

    $("#TypeId").change(function () {
        if ($("#TypeId").val() == '@valueType') {            
          $( "#TargetValue" ).show();
        } else {
          $( "#TargetValue" ).hide();
        }
   });
    $("#TimeId").change(function () {
        FillMyterritories();
    });
    $("#ProfileId").change(function () {
        FillMyterritories();
    });

    FillMyterritories = () => {
        var id = $("#ProfileId").val();
        if (id != "") {
            var timeid = $("#TimeId").val();
            var url = '@Url.Action("GetMyTerritories", formController)';
            var territory = $('#TerritoryId');
            $.getJSON(url, { profileId: id, timeId: timeid }, function (data) {
                territory.data("kendoDropDownList").dataSource.data(data);
            });
        }
    }
</script>