﻿@model DB.ORM.DB.vw_TargetAdjustment
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("Submit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, true, PH.TargetAdjustment.Product)
            @Html.FormDropDownListRow(m => m.TimeId, (List<SelectListItem>)ViewBag.Time, true, PH.TargetAdjustment.Month)
          
            @Html.FormActionsRow()
        </div>
        }

    </div>
    <!-- /tile body -->
</div>
