﻿@model Services.Business.MProfile
@{
    ViewBag.Title = "My Profile";
    ViewBag.PageType = "Dashboard";
    Layout = ViewBag.Layout;
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}

<link href="~/assets/pages/css/profile-2.min.css" rel="stylesheet" type="text/css" />


<div class="profile">
    <div class="tabbable-line tabbable-full-width">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#tab_1_1" data-toggle="tab">@PH.MyProfile.Overview </a>
            </li>
            <li>
                <a href="#tab_1_3" data-toggle="tab"> @PH.MyProfile.Account </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
                <div class="row">
                    <div class="col-md-3">
                        <ul class="list-unstyled profile-nav">
                            <li>
                                <img src="@Model.Pic" class="img-responsive pic-bordered" alt="" />
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 profile-info">
                                <h1 class="font-green sbold uppercase">@Model.FullName</h1>
                                <p>
                                    <a href="mailto:@Model.Email"> @Model.Email </a>
                                </p>
                                <ul class="list-inline">
                                    <li>
                                        <i class="fa fa-map-marker"></i> @Model.Country
                                    </li>
                                    <li>
                                        <i class="fa fa-calendar"></i> @(Model.BirthDate.HasValue?Model.BirthDate?.ToString("d MMM yyyy"): "N/A")
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase"></i> @Model.JobTitle
                                    </li>
                                    <li>
                                        <i class="fa fa-@(Model.GenderText.ToLower())"></i> @Model.GenderText
                                    </li>
                                    <li>
                                        <i class="fa fa-heart"></i> @Model.MaritalStatusName
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end row-->
                    </div>
                </div>
            </div>
            <!--tab_1_2-->
            <div class="tab-pane" id="tab_1_3">
                <div class="row profile-account">
                    <div class="col-md-3">
                        <ul class="ver-inline-menu tabbable margin-bottom-10">
                            <li class="active">
                                <a data-toggle="tab" href="#tab_1-1">
                                    <i class="fa fa-cog"></i> Personal info
                                </a>
                                <span class="after"> </span>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_2-2">
                                    <i class="fa fa-picture-o"></i> Change Avatar
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#tab_3-3">
                                    <i class="fa fa-lock"></i> Change Password
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">
                            <div id="tab_1-1" class="tab-pane active">
                                @using (Html.BeginForm("Profile", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)

                                    @Html.FormEditorRow(m => m.Mobile,PH.MyProfile.Mobile)
                                    @Html.FormDropDownListRow(m => m.Gender, (IEnumerable<SelectListItem>)ViewBag.Genders,false ,PH.MyProfile.Gender)
                                    @Html.FormDropDownListRow(m => m.MaritalStatus, (IEnumerable<SelectListItem>)ViewBag.MaritalStatuses,false, PH.MyProfile.MaritalStatus)
                                    @Html.FormActionsRow(FormActionButton.SubmitButton(), FormActionButton.ResetButton())
                                }
                            </div>
                            <div id="tab_2-2" class="tab-pane">
                                @using (Html.BeginForm("ChangeImage", formController, FormMethod.Post, new { @id = "ciMain", @role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            @(Html.Kendo().Upload()
                                                            .Name("Pic")
                                                            .ShowFileList(true)
                                                            .Multiple(false)
                                                            .Validation(v => v
                                                            .AllowedExtensions(new string[] { "jpg", "jpeg", "png", "ico", "tiff", "bmp" })
                                                            .MaxFileSize(5 * 1000 * 1000)
                                                            ))
                                        </div>
                                        <div class="clearfix margin-top-10">
                                            <span class="label label-danger"> NOTE! </span>
                                            <span> Images supported are: JPG, JPEG, PNG, BMP, ico, tiff </span>
                                        </div>
                                    </div>
                                    @Html.FormActionsRow(FormActionButton.SubmitButton(), FormActionButton.ResetButton())
                                }
                            </div>
                            <div id="tab_3-3" class="tab-pane">
                                @Html.Partial("_ChangePassword",new Web.App.Models.VMChangePassword())
                            </div>

                        </div>
                    </div>
                    <!--end col-md-9-->
                </div>
            </div>
            <!--end tab-pane-->
        </div>
    </div>
</div>