﻿@model DB.ORM.DB.VisitRequestType
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.VisitRequestTypeId))
            @Html.FormEditorRow(m => m.VisitRequestTypeName, PH.VisitCommentType.VisitRequestTypeName,true)
            @Html.FormEditorRow(m => m.Active, PH.VisitCommentType.Active)
            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
