﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_TeamProfile>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.ProfileId).Hidden();
            columns.Bound(p => p.ProfileCode).Title(PH.Team.ProfileCode).AddDefaultOptions();
            columns.Bound(p => p.ProfileName).Title(PH.Team.ProfileName).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.TeamName).Title(PH.Team.TeamName).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.Active).Title(PH.Team.Active).AddDefaultOptions();


            columns.AddAuditColumns();
            columns.AddActionColumns("ProfileId");
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.ProfileId);
                            model.Field(a => a.ProfileId).Editable(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.ProfileCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.ProfileName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>