﻿@model DB.ORM.DB.vw_ProfileTargetVisit

<style>
    .k-diagram, .k-map {
        height: 400px;
        width: 60vw;
        margin: auto;
    }
</style>
<div style="padding-top:20px">
    @(Html.Kendo().Map()
                                    .Name("map")
                                    .Center(30.0444000000, 31.2357000000)
                                    .Zoom(6)
                                    .Layers(layers =>
                                    {
                                        layers.Add()
                                            .Type(MapLayerType.Tile)
                                            .UrlTemplate("http://#= subdomain #.tile.openstreetmap.org/#= zoom #/#= x #/#= y #.png")
                                            .Subdomains("a", "b", "c")
                                            .Attribution("&copy; <a href='http://osm.org/copyright'>OpenStreetMap contributors</a>");
                                        layers.Add()
                                       .Type(MapLayerType.Marker)
                                       .DataSource(dataSource => dataSource
                                            .Read(read => read.Action("ReadAccounts", "RepTargetVisit").Data("getAdditionalData"))
                                                   )
                                                   .LocationField("latlng")
                                                   .TitleField("AccountName");
                                    })


    )
</div>
<script>
    function getAdditionalData() {
        return {
            targetId: @Model.ProfileTargetId
        }
  }
</script>
