﻿
@model DB.ORM.DB.vw_ProfileTargetVisit.vw_ProfileTargetVisitDto
@{
    Layout = "~/Views/Shared/_RepLayout.cshtml";
    var title = "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/Wizared/mustache.js"></script>
<div class="portlet light ">
    @Html.FormHeaderTabbed((string)ViewBag.Title, new FormHeaderTab { Id = "tab_summary", Name = PH.RepTargetVisit.Summary }, new FormHeaderTab { Id = "tab_details", Name = PH.RepTargetVisit.Details }, new FormHeaderTab { Id = "tab_flist", Name = PH.RepTargetVisit.FullList }, new FormHeaderTab { Id = "tab_Map", Name = "Map" })
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="form-body">
            <div class="tab-content">
                <div class="tab-pane active tabsummry" id="tab_summary">
                    @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                    {
                        <div class="form-body" id="formContent">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="row summary">
                                <div class="col-md-6">
                                    @Html.FormDisplayRow(m => m.PeriodName, PH.RepTargetVisit.PeriodName)
                                    @Html.FormDisplayRow(m => m.ProfileCode, PH.RepTargetVisit.ProfileCode)
                                    @Html.FormDisplayRow(m => m.TargetStatus, PH.RepTargetVisit.TargetStatus)
                                    @Html.FormDisplayRow(m => m.TargetVisits, PH.RepTargetVisit.TargetVisits, "TargetVisits")
                                    @Html.FormDisplayRow(m => m.TargetAccountsCount, PH.RepTargetVisit.TargetAccountsCount, "TargetAccountsCount")

                                </div>
                                <div class="col-md-6">
                                    @Html.FormDisplayRow(m => m.AvgCallRate, PH.RepTargetVisit.AvgCallRate)
                                    @Html.FormDisplayRow(m => m.TotalTargetVisit, "Total Target Visit")
                                    @Html.FormDisplayRow(m => m.UniverseTargetDoctor, "Universe Target Doctor", "UniverseTargetDoctor")
                                    @Html.FormDisplayRow(m => m.ActualCallRate, "Actual CallRate", "ActualCallRate")
                                    @Html.FormDisplayRow(m => m.ActualTargetDoctor, "Actual Target Doctor")

                                    @*@Html.FormDisplayRow(m => m.TargetDoctorsCount, PH.RepTargetVisit.TargetDoctorsCount)
                                    @Html.FormDisplayRow(m => m.ListTargetDoctorsCount, PH.RepTargetVisit.ListTargetDoctorsCount)*@
                                </div>
                                <script id="TargetVisits_template" type="text/template">
                                    {{ TargetVisits }}
                                </script>
                                <script id="TargetAccountsCount_template" type="text/template">
                                    {{ TargetAccountsCount }}
                                </script>
                                <script id="ActualCallRat_template" type="text/template">
                                    {{ ActualCallRate }}
                                </script>
                                <script id="UniverseTargetDoctor_template" type="text/template">
                                    {{ UniverseTargetDoctor }}
                                </script>
                            </div>

                            @Html.FormActionsRow()
                        </div>
                       
                    }
                </div>
                <style>
                    .summary .col-md-8 {
                        width: 47.66667%;
                    }

                    .summary .col-md-2 {
                        width: 42.33333%;
                    }
                </style>
                <div class="tab-pane" id="tab_details">
                    <script>
                        function saveGrid(gridName){
                            if (confirm('@PH.RepTargetVisit.SureToSave')) {
                                var grid = $("#"+gridName).data("kendoGrid");
                                grid.saveChanges();
                                reloadGrid(gridName);
                            }
                        }
                    </script>
                    <button type="button" class="btn btn-primary" name="save" onclick="return saveGrid('detGrid');">Save</button>
                    @(Html.Kendo().Grid<DB.ORM.DB.vw_ProfileTargetVisitDetails>()
                                                                    .Name("detGrid")
                                                                    .Columns(columns =>
                                                                    {
                                                                        columns.Bound(p => p.ProfileTargetDetailId).Hidden();
                                                                        columns.Bound(p => p.AccountName).Title(PH.RepTargetVisit.AccountName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                        columns.Bound(p => p.AccountTypeName).Title(PH.RepTargetVisit.AccountTypeName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                        columns.Bound(p => p.SpecialtyCode).Title(PH.RepTargetVisit.SpecialtyCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                        columns.Bound(p => p.Address).Title(PH.RepTargetVisit.Address).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                        columns.Bound(p => p.TerritoryName).Title(PH.RepTargetVisit.TerritoryName).AddDefaultOptions();
                                                                        columns.Bound(p => p.PotentialCode).Title(PH.RepTargetVisit.PotentialCode).AddDefaultOptions();
                                                                        columns.ForeignKey(p => p.PotentialId, (System.Collections.IEnumerable)ViewData["potentials"], "PotentialId", "PotentialCode");
                                                                        columns.Bound(p => p.Frequency).Title(PH.RepTargetVisit.Frequency).AddDefaultOptions();
                                                                        if (Model.TargetStatus != "Approved")
                                                                        {
                                                                            columns.AddActionColumns("ProfileTargetDetailId",
                                                                                ListActionColumn.DeleteColumn("ProfileTargetDetailId", Url.Action("DeleteAccount")));
                                                                        }
                                                                    })
                                                                .AddDefaultOptions()
                                                                .Editable(editable => editable.Mode(GridEditMode.InCell))
                                                                .DataSource(dataSource => dataSource
                                                                    .AddDefaultSettings(model =>
                                                                    {
                                                                        model.Id(p => p.ProfileTargetDetailId);
                                                                        model.Field(a => a.ProfileTargetDetailId).Editable(false);
                                                                        model.Field(a => a.AccountName).Editable(false);
                                                                        model.Field(a => a.AccountTypeName).Editable(false);
                                                                        model.Field(a => a.SpecialtyCode).Editable(false);
                                                                        model.Field(a => a.Address).Editable(false);
                                                                        model.Field(a => a.TerritoryName).Editable(false);

                                                                    }, read => read.Action("ReadDetailsList", formController, new { targetId = Model.ProfileTargetId }), false, null
                                                                    , update => update.Action("UpdateDetailsList", formController))
                                                                )
                    )
                </div>
                <div class="tab-pane" id="tab_flist">
                    @if (Model.TargetStatus != "Approved")
                    {
                        <button type="button" class="btn btn-primary" name="Add" onclick="return add();"><i class="glyphicon glyphicon-plus"></i>Add To Target List</button>
                    }
                    @(Html.Kendo().Grid<DB.ORM.DB.vw_Target_Universe>()
                                                                    .Name("ulGrid")
                                                                    .Columns(columns =>
                                                                                {
                                                                                    columns.Select().Width(50);
                                                                                    columns.Bound(p => p.AccountId).Hidden();
                                                                                    columns.Bound(p => p.DoctorId).Hidden();
                                                                                    columns.Bound(p => p.AccountName).Title(PH.RepTargetVisit.AccountName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                                    columns.Bound(p => p.AccountTypeName).Title(PH.RepTargetVisit.AccountTypeName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                                    columns.Bound(p => p.Address).Title(PH.RepTargetVisit.Address).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                                    columns.Bound(p => p.TerritoryName).Title(PH.RepTargetVisit.TerritoryName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                                    columns.Bound(p => p.PotentialCode).Title(PH.RepTargetVisit.PotentialCode).AddDefaultOptions();
                                                                                    columns.Bound(p => p.SpecialtyName).Title(PH.RepTargetVisit.SpecialtyName).AddDefaultOptions();
                                                                    })
                                                                    .PersistSelection()
                                                                    .DataSource(dataSource => dataSource
                                                                       .AddDefaultSettings(model =>
                                                                       {
                                                                        model.Id(p => p.AccountId);
                                                                        model.Field(a => a.AccountId).Editable(false);
                                                                       }, read => read.Action("ReadUniverseList", formController, new { targetId = Model.ProfileTargetId })))

                    )
                   
                </div>
                <div id="tab_Map" class="tab-pane">
                    @Html.Partial("_Map", Model)

                </div>
            </div>
        </div>
    </div>
</div>
<script>
     $(function () {
         $('a[href="#tab_summary"]').click(function () {
             var url = '@Url.Action("ReloadModel", formController)';

             $.getJSON(url, { id: @Model.ProfileTargetId }, function (data) {

                 var TargetVisitstemplate = $("#TargetVisits_template").html();
                 var TargetVisitsText = Mustache.render(TargetVisitstemplate, data);

                 var TargetAccountsCounttemplate = $("#TargetAccountsCount_template").html();
                 var TargetAccountsCountText = Mustache.render(TargetAccountsCounttemplate, data);

                 var ActualCallRattemplate = $("#ActualCallRat_template").html();
                 var ActualCallRatText = Mustache.render(ActualCallRattemplate, data);

                 var UniverseTargetDoctortemplate = $("#UniverseTargetDoctor_template").html();
                 var UniverseTargetDoctorText = Mustache.render(UniverseTargetDoctortemplate, data);

                 $("#TargetVisits").html(TargetVisitsText);
                 $("#TargetAccountsCount").html(TargetAccountsCountText);
                 $("#ActualCallRate").html(ActualCallRatText);
                 $("#UniverseTargetDoctor").html(UniverseTargetDoctorText);

             });
         });
     });
     function add(){
         var grid = $("#ulGrid").data("kendoGrid");
         var selectedAccoubtDoctorIds = [];
         grid.select().each(function () {
             var obj = { accountId: grid.dataItem(this).AccountId, doctorId: grid.dataItem(this).DoctorId }
             selectedAccoubtDoctorIds.push(obj);
         });
         if (confirm('Are Your Sure You Want To Add This Accounts To Target List ?')) {
                                $.ajax({
                                    url: '@Url.Action("Add")',
                                    data: { targetId: @Model.ProfileTargetId, list: selectedAccoubtDoctorIds },
                                    async: false,
                                    type: "POST",
                                    success: function (data) {
                                        if ($.trim(data)) {
                                            alert('@PH.RepTargetVisit.Accountaddedsuccessfully');
                                            reloadGrid('ulGrid');
                                            //reloadGrid('detGrid'); 
                                          // $("#map").data("kendoMap").layers[1].dataSource.read();
                                        }
                                        else {
                                            alert('@PH.RepTargetVisit.Accountnotadded');
                                        }
                                    },
                                    error: function (errorThrown) {
                                        alert('@PH.RepTargetVisit.ErrorWhileAdding');
                                    }
                                });
         }
     }

</script>