﻿@model DB.ORM.DB.AccountCategory
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.CategoryId))
            @Html.FormEditorRow(m => m.CategoryCode,PH.AccountCategory.CategoryCode)
            @Html.FormEditorRow(m => m.CategoryName,PH.AccountCategory.CategoryName,true)
            @Html.FormDropDownListRow(m => m.ParentCategoryId, (List<SelectListItem>)ViewBag.AccountCategories, true,PH.AccountCategory.ParentCategoryId)
            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true,PH.AccountCategory.Country)

            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
