﻿@model DB.ORM.DB.Team
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<!-- tile -->
<div class="portlet light ">
    @(modeAdd ? Html.FormHeaderWithButtons((string)title + " " + eName) : Html.FormHeaderTabbed((string)title + " " + eName, new FormHeaderTab { Id = "tab_details", Name = "Details" }, new FormHeaderTab { Id = "tab_teamprofile", Name = "Team Profile" }, new FormHeaderTab { Id = "tab_teamSalesProduct", Name = "Team Sales Product" }) )
    <!-- tile body -->
    <div class="portlet-body form">

        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">

                @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
                @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                    <div class="form-body">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        @(modeAdd ? null : Html.HiddenFor(m => m.TeamId))
                        @Html.FormEditorRow(m => m.TeamCode,PH.Team.TeamCode)
                        @Html.FormEditorRow(m => m.TeamName, PH.Team.TeamName, true)
                        @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true,PH.Team.Country)

                        @Html.FormActionsRow()
                    </div>
                }
            </div>


            <div class="tab-pane" id="tab_teamprofile">
                @Html.AddButtonForChild("CreateTeamProfile", new { teamId = modeAdd ? 0 : Model.TeamId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_TeamProfile>()
                            .Name("TPGrid")
                            .Columns(columns =>
                            {
                                columns.Bound(p => p.ProfileId).Hidden();
                                columns.Bound(p => p.ProfileCode).Title(PH.Team.ProfileCode).AddDefaultOptionsAndViewInMobile();
                                columns.Bound(p => p.ProfileName).Title(PH.Team.ProfileName).AddDefaultOptionsAndViewInMobile();
                                columns.Bound(p => p.Active).Title(PH.Team.Active).AddDefaultOptions();
                                columns.AddAuditColumns();
                                columns.AddActionColumns("ProfileId", Url.Action("EditTeamProfile"), Url.Action("DeleteTeamProfile"));
                                columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_tp(data)#");
                        })
            .AddDefaultOptions()
            .DataSource(dataSource => dataSource
                .AddDefaultSettings(model =>
                {
                    model.Id(p => p.ProfileId);
                    model.Field(a => a.ProfileId).Editable(false);
                }, read => read.Action("ReadTeamProfileList", formController, new { TeamId = modeAdd ? 0 : Model.TeamId }))
            )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-tp" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.ProfileCode#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProfileName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.Active#</p>
                </script>
                <script>
                    var resColTemplate_tp = kendo.template($("#responsive-column-template-tp").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>


            <div class="tab-pane" id="tab_teamSalesProduct">
                @Html.AddButtonForChild("CreateTeamSalesProduct", new { teamId = modeAdd ? 0 : Model.TeamId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_TeamSalesProduct>()
                        .Name("TSPGrid")
                        .Columns(columns =>
                        {
                            columns.Bound(p => p.TeamSalesProductId).Hidden();
                            columns.Bound(p => p.ProductName).Title(PH.Team.ProductName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.FromDate).Title(PH.Team.FromDate).AddDefaultOptions();
                            columns.Bound(p => p.ToDate).Title(PH.Team.ToDate).AddDefaultOptions();

                            columns.AddAuditColumns();
                            columns.AddActionColumns("TeamSalesProductId", Url.Action("EditTeamSalesProduct"), Url.Action("DeleteTeamSalesProduct"));
                            columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_tsp(data)#");
                    })
            .AddDefaultOptions()
            .DataSource(dataSource => dataSource
                .AddDefaultSettings(model =>
                {
                    model.Id(p => p.TeamSalesProductId);
                    model.Field(a => a.TeamSalesProductId).Editable(false);
                }, read => read.Action("ReadTeamSalesProductList", formController, new { TeamId = modeAdd ? 0 : Model.TeamId }))
            )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-tsp" type="text/x-kendo-template">
                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProductName#</p>

                    <strong>FromDate</strong>
                    <p class="col-template-val">#=data.FromDate#</p>

                    <strong>ToDate</strong>
                    <p class="col-template-val">#=data.ToDate#</p>
                </script>
                <script>
                    var resColTemplate_tsp = kendo.template($("#responsive-column-template-tsp").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>


            <!-- /tile body -->
        </div>
        <!-- /tile -->
