﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Team>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.TeamId).Hidden();
                        columns.Bound(p => p.TeamCode).Title(PH.Team.TeamCode).AddDefaultOptions();
                        columns.Bound(p => p.TeamName).Title(PH.Team.TeamName).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p => p.ProfileCount).Title(PH.Team.ProfileCount).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p=>p.CountryCode).AddDefaultOptions();
                        columns.AddAuditColumns();
                        columns.AddActionColumns("TeamId");
                        columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.TeamId);
                                        model.Field(a => a.TeamId).Editable(false);
                                    })
                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.TeamCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.TeamName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>