﻿@model DB.ORM.DB.MarketShare
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}


<!-- tile -->
<div class="portlet light ">
    @(Html.FormHeaderTabbed("Edit " + ViewData["EntityName"], 
        new FormHeaderTab { Id = "tab_details", Name =PH.Marketshare.Details }, 
        new FormHeaderTab { Id = "tab_terr", Name = PH.Marketshare.Territories }) )
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">

                @using (Html.BeginForm("Edit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                <div class="form-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @(Html.HiddenFor(m => m.MarketShareId))
                    @Html.FormEditorRow(m => m.Year, PH.Marketshare.Year)
                    @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.Marketshare.Country)
                    @Html.FormActionsRow(FormActionLink.BackButton("Index"))
                </div>
                }
            </div>
            <div class="tab-pane" id="tab_terr">
                @(Html.Kendo().Grid<DB.ORM.DB.vw_MarketShareTerritory>()
                        .Name("MSTGrid")
                        .Columns(columns =>
                        {
                        columns.Bound(p => p.MarketShareTerritoryId).Hidden();
                        columns.Bound(p => p.TerritoryName).Title(PH.Marketshare.TerritoryName).AddDefaultOptions();
                        columns.Bound(p => p.MarketShare).Title(PH.Marketshare.MarketShare).AddDefaultOptionsAndViewInMobile();
                        columns.AddAuditColumns();
                        columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ts(data)#");
                    })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.MarketShareTerritoryId);
                            model.Field(a => a.MarketShareTerritoryId).Editable(false);
                        }, read => read.Action("ReadMarketShareTerritoryList", formController, new { MarketShareId = Model.MarketShareId }))
                    )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-ts" type="text/x-kendo-template">
                    <strong>Territory</strong>
                    <p class="col-template-val">#=data.TerritoryName#</p>

                    <strong>Market Share</strong>
                    <p class="col-template-val">#=data.MarketShare#</p>
                </script>
                <script>
                    var resColTemplate_ts = kendo.template($("#responsive-column-template-ts").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>

        </div>
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
