﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_MarketShare>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(p => p.MarketShareId).Hidden();
                        columns.Bound(p => p.Year).Title(PH.Marketshare.Year).AddDefaultOptions();
                        columns.Bound(p => p.CountryCode).Title(PH.Marketshare.CountryCode).AddDefaultOptionsAndViewInMobile();
                        columns.AddAuditColumns();
                        columns.AddActionColumns("MarketShareId");
                        columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.MarketShareId);
                                        model.Field(a => a.MarketShareId).Editable(false);
                                    })
                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Year</strong>
            <p class="col-template-val">#=data.Year#</p>

            <strong>Country</strong>
            <p class="col-template-val">#=data.CountryCode#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>