﻿@model  DB.ORM.DB.fn_InMarketSales_Analysis_GetSummary
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-value="@(Model.Qty?.ToString("#,#"))">@(Model.Qty?.ToString("#,#"))</span>
                        @*<small class="font-green-sharp">$</small>*@
                    </h3>
                    <small>Sales Qty</small>
                </div>
                <div class="icon">
                    <i class="icon-basket-loaded"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: @(Model.Qty_Growth)%;" class="progress-bar progress-bar-success green-sharp">
                        <span class="sr-only">@(Model.Qty_Growth)% Growth</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> Growth </div>
                    <div class="status-number"> @(Model.Qty_Growth)% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="@(Model.Amount?.ToString("#,#"))">@(Model.Amount?.ToString("#,#"))</span>
                        <small class="font-red-haze">$</small>
                    </h3>
                    <small>Total Amount</small>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: @(Model.Amount_Growth)%;" class="progress-bar progress-bar-success red-haze">
                        <span class="sr-only">@(Model.Amount_Growth)%</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> Growth </div>
                    <div class="status-number"> @(Model.Amount_Growth)% </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-value="@(Model.Qty_Ach?.ToString("0.0%"))">@(Model.Qty_Ach?.ToString("0.0%"))</span>
                        @*<small class="font-blue-sharp">%</small>*@
                    </h3>
                    <small>Achieved Qty %</small>
                </div>
                <div class="icon">
                    <i class="fa fa-anchor"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: @(Model.Qty_Ach?.ToString("0.0%"));" class="progress-bar progress-bar-success blue-sharp">
                        <span class="sr-only">@(Model.Qty_Ach?.ToString("0.0%")) grow</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> achieved </div>
                    <div class="status-number"> @(Model.Qty_Ach?.ToString("0.0%")) </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-purple-soft">
                        <span data-counter="counterup" data-value="@(Model.Amount_Ach?.ToString("0.0%"))">@(Model.Amount_Ach?.ToString("0.0%"))</span>
                        @*<small class="font-purple-sharp">%</small>*@
                    </h3>
                    <small>Achieved Amount %</small>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
            </div>
            <div class="progress-info">
                <div class="progress">
                    <span style="width: @(Model.Amount_Ach?.ToString("0.0%"));" class="progress-bar progress-bar-success purple-soft">
                        <span class="sr-only">@(Model.Amount_Ach?.ToString("0.0%")) change</span>
                    </span>
                </div>
                <div class="status">
                    <div class="status-title"> Achieved </div>
                    <div class="status-number"> @(Model.Amount_Ach?.ToString("0.0%")) </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="portlet light ">
            @Html.FormHeaderTabbed("Sales By Distributor",
           new FormHeaderTab { Id= "tab_chart_Dist", Name="Chart" },
           new FormHeaderTab { Id = "tab_table_Dist", Name = "Data" })
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="tab-content">
                    <div id="tab_chart_Dist" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-6">
                                @(Html.Kendo().Chart<DB.ORM.DB.fn_InMarketSales_Analysis_DistributorSales>()
                                    .Name("chrt_Dist_q")
                                    .Title("Sales by Qty")
                                    .Legend(legend => legend.Position(ChartLegendPosition.Top))
                                    .ChartArea(chartArea => chartArea.Background("transparent"))
                                    .DataSource(ds => ds.Read(read => read.Action("_GetDistributorAnalysisChart", formController)))
                                    .Series(series =>
                                    {
                                    series.Pie(m => m.Qty, m => m.DistributorName).Name(PH.InMarketSalesAnalyzer.Qty);
                                                                                                    //series.Pie(m => m.Amount, m=>m.DistributorName).Name("Amount");
                                                                                                })
                                    .CategoryAxis(axis => axis
                                        .Name(PH.InMarketSalesAnalyzer.seriesaxis)
                                        .Line(line => line.Visible(false))
                                        .Categories(m => m.DistributorName)
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric()
                                        .Labels(labels => labels.Format("{0:N0}"))
                                        // Move the label-axis all the way down the value axis
                                        .AxisCrossingValue(0, int.MinValue)
                                    )
                                    .Tooltip(tooltip => tooltip
                                        .Visible(true)
                                        .Format("{0:N0}")
                                        //.Template("#= series.name #: #= value #")
                                        .Template("#= category # - #= kendo.format('{0:P}', percentage)#")
                                    )
                                )
                            </div>
                            <div class="col-md-6">
                                @(Html.Kendo().Chart<DB.ORM.DB.fn_InMarketSales_Analysis_DistributorSales>()
                                    .Name("chrt_Dist_a")
                                    .Title("Sales by Amount")
                                    .Legend(legend => legend.Position(ChartLegendPosition.Top))
                                    .ChartArea(chartArea => chartArea.Background("transparent"))
                                    .DataSource(ds => ds.Read(read => read.Action("_GetDistributorAnalysisChart", formController)))
                                    .Series(series =>
                                    {
                                        series.Pie(m => m.Amount, m => m.DistributorName).Name("Amount");

                                    })
                                    .CategoryAxis(axis => axis
                                        .Name(PH.InMarketSalesAnalyzer.seriesaxis)
                                        .Line(line => line.Visible(false))
                                        .Categories(m => m.DistributorName)
                                    )
                                    .ValueAxis(axis => axis
                                        .Numeric()
                                        .Labels(labels => labels.Format("{0:N0}"))
                                        // Move the label-axis all the way down the value axis
                                        .AxisCrossingValue(0, int.MinValue)
                                    )
                                    .Tooltip(tooltip => tooltip
                                        .Visible(true)
                                        .Format("{0:N0}")
                                        //.Template("#= series.name #: #= value #")
                                        .Template("#= category # - #= kendo.format('{0:P}', percentage)#")
                                    )
                                )
                            </div>
                        </div>
                    </div>
                    <div id="tab_table_Dist" class="tab-pane">
                        <div id="tab_table_Product_a" class="tab-pane">
                            @(Html.Kendo().Grid<DB.ORM.DB.fn_InMarketSales_Analysis_DistributorSales>()
                            .Name("Dist_Grid")
                            .Columns(columns =>
                            {
                                                    
                            columns.Bound(p => p.DistributorName).Title(PH.InMarketSalesAnalyzer.DistributorName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.Qty).AddDefaultOptions().Format("{0:0,0.00}").Title(PH.InMarketSalesAnalyzer.Qty);
                            columns.Bound(p => p.Amount).AddDefaultOptions().Format("{0:0,0.00}").Title(PH.InMarketSalesAnalyzer.Amount);
                            })
                            .AddDefaultOptions()
                            .DataSource(dataSource => dataSource
                                .AddDefaultSettings(model =>
                                {
                                    model.Id(p => p.DistributorName);
                                }, read=>read.Action("_GetDistributorAnalysis_Table", formController))
                            )
                            )
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- /tile body -->
    </div>

    <div class="col-md-6">
        <div class="portlet light ">
            @Html.FormHeaderTabbed("Sales Trend",
           new FormHeaderTab { Id= "tab_chart_SalesTrend", Name="Chart" },
           new FormHeaderTab { Id = "tab_table_SalesTrend", Name = "Data" })
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="tab-content">
                    <div id="tab_chart_SalesTrend" class="tab-pane active">
                        @(Html.Kendo().Chart<DB.ORM.DB.fn_InMarketSales_Analysis_SalesTrend>()
                                .Name("chrt_SalesTrend")
                                .Legend(legend => legend.Position(ChartLegendPosition.Top))
                                .ChartArea(chartArea => chartArea.Background("transparent"))
                                .DataSource(ds => ds.
                                    Read(read => read.Action("_GetSalesTrendChart", formController))
                                    .Sort(m=>m.Add(s=>s.SalesMonth))
                                    )
                                .Series(series =>
                                {
                                    series.Column(m => m.SalesQty).Name(PH.InMarketSalesAnalyzer.Qty).Color("#068c35");
                                    series.Line(m => m.SalesQty_InTarget).Name(PH.InMarketSalesAnalyzer.SalesQty_InTarget).Color("#9de219");
                                    series.Column(m => m.TargetQty).Name(PH.InMarketSalesAnalyzer.TargetQty);
                                })
                                .CategoryAxis(axis => axis
                                    .Name("series-axis")
                                    .Line(line => line.Visible(false))
                                    .Categories(m=>m.SalesMonthName)
                                    
                                )
                                .ValueAxis(axis => axis
                                                .Numeric()
                                                    .Labels(labels => labels.Format("{0:N0}"))
                                                    // Move the label-axis all the way down the value axis
                                                    .AxisCrossingValue(0, int.MinValue)
                                )
                                .Tooltip(tooltip => tooltip
                                                .Visible(true)
                                                .Template("#= series.name #: #= value #")
                                )
                        )


                    </div>
                    <div id="tab_table_SalesTrend" class="tab-pane">
                        @(Html.Kendo().Grid<DB.ORM.DB.fn_InMarketSales_Analysis_SalesTrend>()
                            .Name("SalesTrend_Grid")
                            .Columns(columns =>
                            {

                                columns.Bound(p => p.SalesMonth).AddDefaultOptionsAndViewInMobile().Title(PH.InMarketSalesAnalyzer.Month);
                                columns.Bound(p => p.SalesQty).AddDefaultOptions().Format("{0:0,0.00}").Title(PH.InMarketSalesAnalyzer.Qty);
                                //columns.Bound(p => p.SalesQty_InTarget).AddDefaultOptions().Format("{0:0,0.00}");
                                columns.Bound(p => p.TargetQty).AddDefaultOptions().Format("{0:0,0.00}").Title(PH.InMarketSalesAnalyzer.TargetQ);
                                columns.Bound(p => p.SalesAmount).AddDefaultOptions().Format("{0:0,0.00}").Title(PH.InMarketSalesAnalyzer.Val);
                                //columns.Bound(p => p.SalesAmount_InTarget).AddDefaultOptions().Format("{0:0,0.00}");
                                columns.Bound(p => p.TargetAmount).AddDefaultOptions().Format("{0:0,0.00}").Title(PH.InMarketSalesAnalyzer.TargetV);
                            })
                            .AddDefaultOptions()
                            .DataSource(dataSource => dataSource
                                .AddDefaultSettings(model =>
                                {
                                    model.Id(p => p.SalesMonth);
                                }, read => read.Action("_GetSalesTrend_Table", formController))
                            )
                        )
                    </div>
                </div>
                
            </div>
        </div>


    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <!-- tile -->
        <div class="portlet light ">
            @Html.FormHeaderTabbed("Sales by Account Category",
           new FormHeaderTab { Id= "tab_chart_AC", Name="Chart" },
           new FormHeaderTab { Id = "tab_table_AC", Name = "Data" })
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="tab-content">
                    <div id="tab_chart_AC" class="tab-pane active">
                        @(Html.Kendo().Chart<DB.ORM.DB.fn_InMarketSales_Analysis_SalesByAccountCategory>()
                            .Name("chrt_AC")
                            .Legend(legend => legend.Position(ChartLegendPosition.Top))
                            .ChartArea(chartArea => chartArea.Background("transparent"))
                            .DataSource(ds => ds
                                .Read(read => read.Action("_SalesByAccountCategoryChart", formController))
                                )
                            .Series(series =>
                            {
                                series.Pie(m => m.Qty,m=>m.CategoryName).Name("Qty");
                            })
                            .Tooltip(tooltip => tooltip
                                .Visible(true)
                                .Format("{0}%")
                                .Template("#= category # - #= kendo.format('{0:P}', percentage)#")
                            )
                        )
                    </div>
                    <div id="tab_table_AC" class="tab-pane">
                        @(Html.Kendo().Grid<DB.ORM.DB.fn_InMarketSales_Analysis_SalesByAccountCategory>()
                                   .Name("AC_Grid")
                                   .Columns(columns =>
                                   {

                                       columns.Bound(p => p.CategoryName).Title(PH.InMarketSalesAnalyzer.CategoryName).AddDefaultOptionsAndViewInMobile();
                                       columns.Bound(p => p.Qty).Title(PH.InMarketSalesAnalyzer.Qty).AddDefaultOptions().Format("{0:0,0.00}");
                                       columns.Bound(p => p.Amount).Title(PH.InMarketSalesAnalyzer.Amount).AddDefaultOptions().Format("{0:0,0.00}");
                                   })
                                   .AddDefaultOptions()
                                   .DataSource(dataSource => dataSource
                                       .AddDefaultSettings(model =>
                                       {
                                           model.Id(p => p.CategoryName);
                                       }, read => read.Action("_GetSalesByAccountCategory_Table", formController))
                                   )
                        )
                    </div>
                </div>
            </div>
            <!-- /tile body -->
        </div>
        <!-- /tile -->

    </div>
    <div class="col-md-6">
        <!-- tile -->
        <div class="portlet light ">
            @Html.FormHeaderTabbed("Top 10 Sales by 148 Area",
           new FormHeaderTab { Id= "tab_chart_Territory", Name="Chart" },
           new FormHeaderTab { Id = "tab_table_Territory", Name = "Data" })
            <!-- tile body -->
            <div class="portlet-body form">
                <div class="tab-content">
                    <div id="tab_chart_Territory" class="tab-pane active">
                        @(Html.Kendo().Chart<DB.ORM.DB.fn_InMarketSales_Analysis_SalesByTerritory>()
                            .Name("chrt_Territory")
                            .Legend(legend => legend.Position(ChartLegendPosition.Top))
                            .ChartArea(chartArea => chartArea.Background("transparent"))
                            .DataSource(ds => ds
                                .Read(read => read.Action("_GetSalesByTerritoryChart", formController))
                                .Sort(m=>m.Add("Qty").Descending())
                                .PageSize(10))
                            .Series(series =>
                            {
                                series.Column(m => m.Qty).Name(PH.InMarketSalesAnalyzer.Qty);
                                //series.Column(m => m.Amount).Name("Amount");
                            })
                            .CategoryAxis(axis => axis
                                            .Name(PH.InMarketSalesAnalyzer.seriesaxis)
                                            .Line(line => line.Visible(false))
                                            .Categories(m => m.TerritoryName)
                                        .Labels(l => l.Rotation(90))
                            )
                            .ValueAxis(axis => axis
                                            .Numeric()
                                                .Labels(labels => labels.Format("{0:N0}"))
                                                // Move the label-axis all the way down the value axis
                                                .AxisCrossingValue(0, int.MinValue)
                            )
                            .Tooltip(tooltip => tooltip
                                            .Visible(true)
                                            .Format("{0}%")
                                            .Template("#= series.name #: #= value #")
                            )
                        )
                    </div>
                    <div id="tab_table_Territory" class="tab-pane">
                        @(Html.Kendo().Grid<DB.ORM.DB.fn_InMarketSales_Analysis_SalesByTerritory>()
                            .Name("Territory_Grid")
                            .Columns(columns =>
                            {

                                columns.Bound(p => p.TerritoryName).Title(PH.InMarketSalesAnalyzer.TerritoryName).AddDefaultOptionsAndViewInMobile();
                                columns.Bound(p => p.Qty).Title(PH.InMarketSalesAnalyzer.Qty).AddDefaultOptions().Format("{0:0,0.00}");
                                columns.Bound(p => p.Amount).Title(PH.InMarketSalesAnalyzer.Amount).AddDefaultOptions().Format("{0:0,0.00}");
                            })
                            .AddDefaultOptions()
                            .DataSource(dataSource => dataSource
                                .AddDefaultSettings(model =>
                                {
                                    model.Id(p => p.TerritoryName);
                                }, read => read.Action("_GetSalesByTerritory_Table", formController))
                            )
                        )
                    </div>
                </div>
            </div>
            <!-- /tile body -->
        </div>
        <!-- /tile -->

    </div>
</div>





@section scripts{

    <script src="~/assets/global/plugins/counterup/jquery.waypoints.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/counterup/jquery.counterup.min.js" type="text/javascript"></script>

}
