﻿@model DB.ORM.DB.ProductGroup
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.GroupId))
            @Html.FormEditorRow(m => m.GroupName, PH.Product.Group, true)
            @Html.FormEditorRow(m => m.GroupCode, PH.Product.GroupCode)
            @Html.FormDropDownListRow(m => m.ParentGroupId, (List<SelectListItem>)ViewBag.ProductGroups, false, PH.Product.ParentGroup)
            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Country, false, PH.Product.Country)
           

            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
