﻿@model DB.ORM.DB.ProductGroup
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = "Details";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
       
        <div class="form-body">


            @Html.HiddenFor(m => m.GroupId)
            @Html.FormEditorRow(m => m.GroupName, PH.Product.Group, true)
            @Html.FormEditorRow(m => m.GroupCode, PH.Product.GroupCode)
            @Html.FormDropDownListRow(m => m.ParentGroupId, (List<SelectListItem>)ViewBag.ProductGroups, false, PH.Product.ParentGroup, "ParentGroup",Model.ParentGroupId!=null?false:true)
            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Country, false, PH.Product.Country, "Country")


            @Html.FormActionsRow(FormActionLink.BackButton())
        </div>
       
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>
    $(function () {
        $('#GroupName').attr('readonly', true);
        $('#GroupCode').attr('readonly', true);
        $("#ParentGroupId").data("kendoDropDownList").enable(false);
        $("#CountryId").data("kendoDropDownList").enable(false);
    });
</script>