﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Controller = this.ViewContext.RouteData.Values["controller"].ToString();

}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/swal/swal.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_ProductGroup>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.GroupId).Hidden();
                    columns.Bound(p => p.GroupName).Title(PH.Product.Group).AddDefaultOptions();
                    columns.Bound(p => p.GroupCode).Title(PH.Product.GroupCode).AddDefaultOptions();
                    columns.Bound(p => p.CountryCode).Title(PH.Product.CountryCode).AddDefaultOptions();
                    columns.Bound(p => p.ParentGroup).Title(PH.Product.ParentGroup).AddDefaultOptions();

                    columns.AddAuditColumns();
                    columns.AddActionColumns("GroupId",
                 ListActionColumn.EditColumn("GroupId"),
                 ListActionColumn.GenericSwALColumn("GroupId", Url.Action("DeleteGroup", Controller), "glyphicon glyphicon-trash trashIcon", true, "delete", PH.SWAL.Deleted,
                       string.Format(PH.SWAL.SwAlDeleted, PH.Product.Group), PH.SWAL.SwAlCancelled, string.Format(PH.SWAL.SwAlRelatedData, PH.Product.Group), PH.SWAL.SwALTitle, string.Format(PH.SWAL.SwAlWillDelete, PH.Product.Group), PH.SWAL.warning, PH.SWAL.SwAlYesDelete
                        , PH.SWAL.SwAlCancelText, string.Format(PH.SWAL.SwAlSafe, PH.Product.Group)));
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.GroupId);
                                        model.Field(a => a.GroupId).Editable(false);
                                    })
                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Product</strong>
            <p class="col-template-val">#=data.ProductName#</p>

            <strong>Dosage</strong>
            <p class="col-template-val">#=data.DosageFormName#</p>

            <strong>Distributor</strong>
            <p class="col-template-val">#=data.DistributorName#</p>

            <strong>Price</strong>
            <p class="col-template-val">#=data.Price#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>