﻿@model DB.ORM.DB.Doctor.DoctorDto
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = "Submit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<!-- tile -->
<div class="portlet light ">
    @(modeAdd ? Html.FormHeaderTabbed((string)title + " " + eName, new FormHeaderTab { Id = "tabs_1", Name = PH.NewDoctorRequest.DoctorDetails }, new FormHeaderTab { Id = "tabs_2", Name = PH.NewDoctorRequest.AccountDetails }) : Html.FormHeaderTabbed((string)title + " " + eName, new FormHeaderTab { Id = "tab_details", Name = PH.Doctor.Details }, new FormHeaderTab { Id = "tab_doctorAccount", Name = PH.Doctor.AccountDoctor }, new FormHeaderTab { Id = "tab_linkAccounts", Name = PH.Doctor.LinkAccounts }) )

    <div class="portlet-body form">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">
                @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                   <div class="form-body">

                    <div class="tab-content">

                        <div class="tab-pane active" id="tabs_1">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @(modeAdd ? null : Html.HiddenFor(m => m.DoctorId))
                            @Html.FormEditorRow(m => m.DoctorName, PH.Doctor.DoctorName, true)
                            @Html.FormDropDownListRow(m => m.PotentialId, (List<SelectListItem>)ViewBag.Potentials, true, PH.Doctor.Potential)
                            @Html.FormDropDownListRow(m => m.SpecialtyId, (List<SelectListItem>)ViewBag.Specialties, true, PH.Doctor.Specialty)
                            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.Doctor.Country)
                            @Html.FormDropDownListRow(m => m.Gender, (List<SelectListItem>)ViewBag.Genders, true, PH.Doctor.Gender)
                            @Html.FormEditorRow(m => m.BirthDate, PH.Doctor.BirthDate)
                            @Html.FormEditorRow(m => m.Mobile, PH.Doctor.Mobile)
                            @Html.FormEditorRow(m => m.Approved, PH.Doctor.Approved)

                            @if (!modeAdd)
                             {
                                @Html.FormActionsRow()
                             }
                        </div>

                        <div class="tab-pane" id="tabs_2">
                            <div class="row" style="margin-bottom:50px">
                                <div class="col-md-6 ">
                                    @Html.RadioButtonFor(a => a.Type, "NewAccount", new { @id = "CreatNew", @checked = "checked", onclick = "showNewAccount()" }) Create New Account
                                </div>
                                <div class="col-md-6">
                                    @Html.RadioButtonFor(a => a.Type, "ExsitAccount", new { @id = "Existaccount", onclick = "showExistAccount()" })  Existing Account
                                </div>
                            </div>

                            <div id="CreateNew">
                                @Html.FormEditorRow(m => m.AccountName, PH.Account.AccountName, true)
                                @Html.FormEditorRow(m => m.AccountCode, PH.Account.AccountCode)

                                @Html.FormEditorRow(m => m.Address, PH.Account.Address)
                                @Html.FormDropDownListRow(m => m.AccountTypeId, (List<SelectListItem>)ViewBag.AccountTypes, true, PH.Account.AccountType)

                                @Html.FormDropDownListRow(m => m.TerritoryId, (List<SelectListItem>)ViewBag.Territories, true, PH.Account.TerritoryName)
                                @Html.FormDropDownListRow(m => m.AccountPotentialID, (List<SelectListItem>)ViewBag.Potentials, false, PH.Account.Potential)
                                @Html.FormDropDownListRow(m => m.CategoryId, (List<SelectListItem>)ViewBag.AccountCategories, true, PH.Account.Category)
                                @Html.FormDropDownListRow(m => m.AccountCountryID, (List<SelectListItem>)ViewBag.Countries, true, PH.Account.Country)
                                @Html.FormEditorRow(m => m.Active, PH.Account.Active)
                                @Html.FormEditorRow(m => m.AccountApproved, PH.Doctor.Approved)

                            </div>
                            <div id="ExistAccount">
                                @Html.FormDropDownListRow(m => m.AccountId, "valueMapper", "ReadAccountsList", "Lookup", "AccountName", "AccountId", "#= AccountCode# | #= AccountName # | address: #=Address# | #=TerritoryName# ", false, PH.NewDoctorRequest.Accounts, "AccountsId")

                            </div>
                            @Html.FormActionsRow()

                        </div>
                    </div>

                   </div>

                }
            </div>

            <div class="tab-pane" id="tab_doctorAccount">
                @Html.AddButtonForChild("LinkDoctorAccount", new { DoctorId = modeAdd ? 0 : Model.DoctorId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_AccountDoctor>()
                                                .Name("DOGrid")
                                                .Columns(columns =>
                                                {
                                                    columns.Bound(p => p.DoctorId).Hidden();
                                                    columns.Bound(p => p.AccountTypeCode).Title(PH.Doctor.Icon).ClientTemplate(
                                                                   @"# if (AccountTypeCode == null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Ext#'/>#}
                                                                        else if(AccountTypeCode == 'c'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/clinic.png") + "'> #} else if(AccountTypeCode == 'h'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/hospital.png") + "'> #} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/icons/pharmacy.png") + "'> #}#")
                                                                    .AddDefaultOptionsAndViewInMobile();
                                                    columns.Bound(p => p.AccountName).Title(PH.Doctor.Account).AddDefaultOptionsAndViewInMobile();
                                                    columns.Bound(p => p.TerritoryName).Title(PH.Doctor.Territory).AddDefaultOptions();
                                                    columns.Bound(p => p.Address).Title(PH.Doctor.Address).AddDefaultOptions();

                                                    columns.AddActionColumns("AccountId", ListActionColumn.DeleteColumn("AccountId", Url.Action("DeleteDoctorAccount")));
                                                    columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ep(data)#");
                                            })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.DoctorId);
                                        model.Field(a => a.DoctorId).Editable(false);
                                    }, read => read.Action("ReadDoctorAccount", formController, new { DoctorId = modeAdd ? 0 : Model.DoctorId }))
                                )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-ep" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.EmployeeName#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProfileName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.FromDate#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.ToDate#</p>
                </script>
                <script>
                    var resColTemplate_ep = kendo.template($("#responsive-column-template-ep").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>

            <div class="tab-pane" id="tab_linkAccounts">
                @Html.AddButtonForChild("LinkAccounts", new { DoctorId = modeAdd ? 0 : Model.DoctorId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_LinkedAccountSales>()
                                                .Name("ACGrid")
                                                .Columns(columns =>
                                                {
                                                columns.Bound(p => p.LinkedAccountId).Hidden();
                                                columns.Bound(p => p.AccountTypeCode).Title(PH.Doctor.Icon).ClientTemplate(
                                                               @"# if (AccountTypeCode == null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Ext#'/>#}
                                                                        else if(AccountTypeCode == 'c'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/clinic.png") + "'> #} else if(AccountTypeCode == 'h'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/hospital.png") + "'> #} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/icons/pharmacy.png") + "'> #}#")
                                                                .AddDefaultOptionsAndViewInMobile();
                                                columns.Bound(p => p.AccountName).Title(PH.Doctor.Account).AddDefaultOptionsAndViewInMobile();
                                                columns.Bound(p => p.LinkedAccount).Title(PH.Doctor.LinkAccounts).AddDefaultOptionsAndViewInMobile();
                                                columns.Bound(p => p.TerritoryName).Title(PH.Doctor.Territory).AddDefaultOptions();
                                                columns.Bound(p => p.Address).Title(PH.Doctor.Address).AddDefaultOptions();

                                                columns.AddActionColumns("LinkedAccountId", ListActionColumn.DeleteColumn("LinkedAccountId", Url.Action("DeleteAccount")));
                                                columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ep(data)#");
                                            })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.LinkedAccountId);
                                        model.Field(a => a.LinkedAccountId).Editable(false);
                                    }, read => read.Action("ReadAccounts", formController))
                                )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-ep" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.EmployeeName#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.ProfileName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.FromDate#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.ToDate#</p>
                </script>
                <script>
                    var resColTemplate_ep = kendo.template($("#responsive-column-template-ep").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>


        </div>
    </div>

</div>

<script>
    $(function () {
        if ($("#CreatNew").prop("checked")) {
            $("#ExistAccount").hide();
            $("#CreateNew").show();
        }
        else {
            $("#CreateNew").hide();
            $("#ExistAccount").show();
        }
    });

    function showNewAccount()
    {

        $("#ExistAccount").hide();
        $("#CreateNew").show();
    }
    function showExistAccount()
    {
        $("#CreateNew").hide();
      
        $("#ExistAccount").show();
    }



     function valueMapper(options)
    {
        $.ajax({
            url: "@Url.Action("Accounts_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function convertValues(value)
    {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>