﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Doctors>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.DoctorId).Hidden();
            columns.Bound(p => p.DoctorName).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.SpecialtyName).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.PotentialName).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.Approved).AddDefaultOptionsAndViewInMobile();

         
            columns.AddActionColumns("DoctorId");
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.DoctorId);
                                model.Field(a => a.DoctorId).Editable(false);
                            })
                        )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.PotentialCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.PotentialName#</p>

        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>