﻿@model DB.ORM.DB.AccountDoctor.AccountDoctorDto
@{
    //var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = "Create";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@

      


        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
         {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
             
            @Html.FormDropDownListRow(m => m.DoctorId, "valueMappers", "ReadDoctorsList", "Lookup", "DoctorName", "DoctorId", " #= DoctorName # ", true, PH.Doctor.DoctorName, "DoctorsId")
            @Html.FormMultiSelectRow(m => m.AccountIds, "valueMapper", "ReadMyAccountList", "Lookup", "AccountName", "AccountId", " #= AccountName # ", true, PH.Doctor.Account, Model.DoctorId.ToString())
          


            @Html.FormActionsRow("Edit", new { id = Model.DoctorId }, "tab_doctorAccount")
        </div>
         }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
 <script>
      function valueMapper(options) {
        $.ajax({
            url: "@Url.Action("Accounts_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
      }
       function valueMappers(options) {
        $.ajax({
            url: "@Url.Action("Doctors_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
       }
    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
 </script>