﻿@model Web.App.Models.VMUser
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var title = "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="row">
                <div class="col-md-9">
                    @(Html.HiddenFor(m => m.UserId))
                    @(Html.HiddenFor(m => m.Name))
                    @Html.FormEditorRow(PH.User.Employee, Html.DisplayFor(m => m.Name))
                    @Html.FormEditorRow(m => m.LoginName, PH.User.LoginName)
                    @Html.FormEditorRow(m => m.Password, PH.User.Password)
                    @Html.FormEditorRow(m => m.ConfirmPassword, PH.User.ConfirmPassword)
                    @Html.FormDropDownListRow(m => m.RoleId, (List<SelectListItem>)ViewBag.Roles,false, PH.User.Role)
                </div>
                <div class="col-md-3">
                    <img width="120" height="120" class="img-responsive pic-bordered" src="@Url.Content(Model.PictureUrl)" onerror="this.onerror=null;this.src='@Url.Content("~/Images/defaultUserIcon.png")';" />
                    @(Html.Kendo().Upload()
                    .Name("PictureFile")
                    .ShowFileList(true)
                    .Multiple(false)
                    .Validation(v=>v
                        .AllowedExtensions(new string[] { ".gif", ".jpg", ".png" })
                        .MaxFileSize(5*1000*1000)
                        )
                    )

                </div>

            </div>
            
            @Html.FormEditorRow("", null)
            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
