﻿@model string
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <a id="indexBtn" href='@Url.Action("Index", Model)' class="btn btn-outline green button-previous">
                <i class="fa fa-angle-left"></i>Back
            </a>
            <a id="backBtn" href="javascript:;" class="btn default button-previous" style="display:none">
                <i class="fa fa-angle-left"></i> Back
            </a>
            <a id="continueBtn" href="javascript:;" class="btn btn-outline green button-next" style="">
                 Continue
                <i class="fa fa-angle-right"></i>
            </a>
            <a id="submitBtn" href="javascript:;" class="btn green button-submit" style="display:none;">
                 Submit
                <i class="fa fa-check"></i>
            </a>

        </div>
    </div>
</div>