﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().TreeList<DB.ORM.DB.vw_Territory>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Add().Field(e => e.TerritoryId).Hidden(true);
                        columns.Add().Field(e => e.TerritoryCode).Title(PH.Territory.TerritoryCode);
                        columns.Add().Field(e => e.TerritoryName).Title(PH.Territory.TerritoryName);
                        columns.Add().Field(e=>e.CountryCode);
                        columns.AddAuditColumns();
                        columns.AddActionColumns("TerritoryId", "Territory");
                    })
                .AddDefaultOptions()
                .DataSource(dataSource => dataSource
                        .AddDefaultSettings(m =>
                        {
                            m.Id(f => f.TerritoryId);
                            m.ParentId(f => f.ParentTerritoryId);
                            m.Expanded(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.CountryCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.CountryName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>