﻿@model DB.ORM.DB.Product
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<!-- tile -->
<div class="portlet light ">
    @(modeAdd? Html.FormHeaderWithButtons((string)title + " " + eName): Html.FormHeaderTabbed((string)title + " " + eName, new FormHeaderTab { Id = "tab_details", Name = PH.Product.Details }, new FormHeaderTab { Id = "tab_dosagesforms", Name = PH.Product.DosageForms }, new FormHeaderTab { Id = "tab_ProductPrices", Name = PH.Product.ProductPrices }) )
    <!-- tile body -->
    <div class="portlet-body form">
        <div class="tab-content">
            <div class="tab-pane active" id="tab_details">

                @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
                {
                <div class="form-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    @(modeAdd ? null : Html.HiddenFor(m => m.ProductId))
                    @Html.FormEditorRow(m => m.ProductCode, PH.Product.ProductCode)
                    @Html.FormEditorRow(m => m.ProductName, PH.Product.ProductName, true)
                    @Html.FormEditorRow(m => m.Contraindications, PH.Product.Contraindications)
                    @Html.FormEditorRow(m => m.Indications, PH.Product.Indications)
                    @Html.FormEditorRow(m => m.SideEffects, PH.Product.SideEffects)
                    @Html.FormEditorRow(m => m.Storage, PH.Product.Storage)
                    @Html.FormEditorRow(m => m.ParentProductId)
                    @Html.FormEditorRow(m => m.Active, PH.Product.Active)
                    @*@Html.FormEditorRow(m => m.CountryId)*@
                    @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Country, false, PH.Product.Country)
                    @Html.FormDropDownListRow(m => m.GroupId, (List<SelectListItem>)ViewBag.ProductGroups, false, PH.Product.Group)

                    @Html.FormActionsRow()
                </div>
                }
            </div>
            <div class="tab-pane" id="tab_dosagesforms">
                @Html.AddButtonForChild("CreateDosageForm", new { productId = modeAdd ? 0 : Model.ProductId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_DosageForm>()
                                    .Name("DFGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.DosageFormId).Hidden();
                                        columns.Bound(p => p.ProductId).Hidden();
                                        columns.Bound(p => p.DosageFormCode).Title(PH.Product.DosageFormCode).AddDefaultOptions();
                                        columns.Bound(p => p.DosageFormName).Title(PH.Product.DosageFormName).AddDefaultOptionsAndViewInMobile();
                                        columns.Bound(p => p.Size).Title(PH.Product.Size).AddDefaultOptions();
                                        columns.Bound(p => p.UnitId).Title(PH.Product.Unit).AddDefaultOptionsAndViewInMobile();
                                        columns.Bound(p => p.PackFactor).Title(PH.Product.PackFactor).AddDefaultOptions();
                                        columns.Bound(p => p.Active).Title(PH.Product.Active).AddDefaultOptionsAndViewInMobile();

                                        columns.AddAuditColumns();
                                        columns.AddActionColumns("DosageFormId", Url.Action("EditDosageForm"), Url.Action("DeleteDosageForm"));
                                        columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_df(data)#");
                            })
    .AddDefaultOptions()
    .DataSource(dataSource => dataSource
        .AddDefaultSettings(model =>
        {
            model.Id(p => p.DosageFormId);
            model.Field(a => a.DosageFormId).Editable(false);
        }, read => read.Action("ReadDosageFormList", formController, new { ProductId = modeAdd ? 0 : Model.ProductId }))
    )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-df" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.DosageFormCode#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.DosageFormName#</p>

                    <strong>Size</strong>
                    <p class="col-template-val">#=data.Size#</p>
                </script>
                <script>
                    var resColTemplate_df = kendo.template($("#responsive-column-template-df").html());
                </script>
                <style>
                    .col-template-val {
                        margin: 0 0 1em .5em;
                    }
                </style>
                <!-- /Grid Mobile View -->
            </div>

            <div class="tab-pane" id="tab_ProductPrices">
                @Html.AddButtonForChild("CreateProductPrice", new { productId = modeAdd ? 0 : Model.ProductId })
                @(Html.Kendo().Grid<DB.ORM.DB.vw_ProductPrice>()
                                    .Name("PPGrid")
                                    .Columns(columns =>
                                    {
                                    columns.Bound(p => p.ProductPriceId).Hidden();
                                    columns.Bound(p => p.ProductId).Hidden();
                                    
                                    columns.Bound(p => p.PriceType).Title(PH.Product.PriceType).AddDefaultOptions();
                                    columns.Bound(p => p.PriceTypeName).Title(PH.Product.PriceTypeName).AddDefaultOptions();
                                    columns.Bound(p => p.FromDate).Title(PH.Product.FromDate).AddDefaultOptions();
                                    columns.Bound(p => p.ToDate).Title(PH.Product.ToDate).AddDefaultOptions();
                                    columns.Bound(p => p.Price).Title(PH.Product.Price).AddDefaultOptionsAndViewInMobile();

                                    columns.AddAuditColumns();
                                    columns.AddActionColumns("ProductPriceId", Url.Action("EditProductPrice"), Url.Action("DeleteProductPrice"));
                                    columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_pp(data)#");
                            })
    .AddDefaultOptions()
    .DataSource(dataSource => dataSource
        .AddDefaultSettings(model =>
        {
            model.Id(p => p.ProductPriceId);
            model.Field(a => a.ProductPriceId).Editable(false);
        }, read => read.Action("ReadProductPriceList", formController, new { ProductId = modeAdd ? 0 : Model.ProductId }))
    )
                )
                <!-- Grid Mobile View -->
                <script id="responsive-column-template-pp" type="text/x-kendo-template">
                    <strong>Code</strong>
                    <p class="col-template-val">#=data.PriceType#</p>

                    <strong>Name</strong>
                    <p class="col-template-val">#=data.PriceTypeName#</p>

                    <strong>Price</strong>
                    <p class="col-template-val">#=data.Price#</p>
                </script>
                <script>
                    var resColTemplate_pp = kendo.template($("#responsive-column-template-pp").html());
                </script>
                <!-- /Grid Mobile View -->
            </div>


        </div>
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
