﻿@model DB.ORM.DB.ProductPrice
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.ProductPriceId))
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, true, PH.Product.product)
            @Html.FormDropDownListRow(m => m.DosageFormId, (List<SelectListItem>)ViewBag.DosageForms,false, PH.Product.DosageForm)
            @Html.FormDropDownListRow(m => m.DistributorId, (List<SelectListItem>)ViewBag.Distributors,false, PH.Product.Distributor)
            @Html.FormDropDownListRow(m => m.TerritoryId, (List<SelectListItem>)ViewBag.Territories,false,PH.Product.Territory)
            @Html.FormDropDownListRow(m => m.AccountCategoryId, (List<SelectListItem>)ViewBag.AccountCategory,false, PH.Product.AccountCategory)
            @Html.FormDropDownListRow(m => m.AccountId, "valueMapper", "ReadAccountsList", "Lookup", "AccountName", "AccountId", "#= AccountCode# | #= AccountName # from: #=TerritoryName# , address: #=Address#", true,PH.Product.Account)
            @Html.FormEditorRow(m => m.FromDate, PH.Product.FromDate)
            @Html.FormEditorRow(m => m.ToDate, PH.Product.ToDate)
            @Html.FormEditorRow(m => m.Price, PH.Product.Price)

            @Html.FormActionsRow("Edit", new { id = Model.ProductId }, "tab_ProductPrices")
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>
    function valueMapper(options) {
        $.ajax({
            url: "@Url.Action("Accounts_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>