﻿@model DB.ORM.DB.AccountType
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.AccountTypeId)) 
            @Html.FormEditorRow(m => m.AccountTypeCode,PH.AccountType.AccountTypeCode)
            @Html.FormEditorRow(m => m.AccountTypeName, PH.AccountType.AccountTypeName,true)
            @Html.FormEditorRow(m => m.MustHaveDoctor, PH.AccountType.MustHaveDoctor)
            @Html.FormEditorRow(m => m.TargetAndPlanWithDoctor, PH.AccountType.TargetAndPlanWithDoctor)
            @Html.FormEditorRow(m => m.IncludeInSales, PH.AccountType.IncludeInSales)
            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>)ViewBag.Countries, true, PH.AccountType.Country)

            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
