﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_AccountType>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.AccountTypeId).Hidden();
            columns.Bound(p => p.AccountTypeCode).Title(PH.AccountType.AccountTypeCode).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.AccountTypeName).Title(PH.AccountType.AccountTypeName).AddDefaultOptions();
            columns.Bound(p => p.IncludeInSales).Title(PH.AccountType.IncludeInSales).AddDefaultOptions();
            columns.Bound(p => p.AccountsCount).Title(PH.AccountType.AccountsCount).AddDefaultOptions();
            columns.Bound(p => p.CountryCode).Title(PH.AccountType.CountryCode).AddDefaultOptions();

            columns.AddAuditColumns();
            columns.AddActionColumns("AccountTypeId");
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.AccountTypeId);
                            model.Field(a => a.AccountTypeId).Editable(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.AccountTypeCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.AccountTypeName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>