﻿<div style="margin-top: 20px;">
    @(Html.Kendo().Grid((IEnumerable<Services.Business.Sales.TemplatesService.TemplateValidation>)ViewBag.list)
                                    .Name("Grid")
                                    .Columns(columns =>
                                    {

                                        columns.Bound(p => p.Index).Title(PH.TemplatesImprtExport.Index).AddDefaultOptionsAndViewInMobile();
                                        columns.Bound(p => p.Comment).Title(PH.TemplatesImprtExport.Comment).AddDefaultOptions();

                                        columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ea(data)#");
                            })
                            
    )
    <!-- Grid Mobile View -->
    <script id="responsive-column-template-ea" type="text/x-kendo-template">
        <strong>Code</strong>
        <p class="col-template-val">#=data.EmployeeName#</p>

        <strong>Name</strong>
        <p class="col-template-val">#=data.ProfileName#</p>

        <strong>Size</strong>
        <p class="col-template-val">#=data.FromDate#</p>

        <strong>Size</strong>
        <p class="col-template-val">#=data.ToDate#</p>
    </script>
    <script>
        var resColTemplate_ea = kendo.template($("#responsive-column-template-ea").html());
    </script>

    <!-- /Grid Mobile View -->



</div>