﻿@model Services.Business.Sales.TemplatesService.TemplatViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var list = ViewBag.list;
    var recordperMinute = ViewBag.RecordperMinute!=null ? ViewBag.RecordperMinute:0;
}
    <link href="~/Content/sweetalert2.css" rel="stylesheet" />
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("Submit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.FormDropDownListRow(m => m.TypeId, (List<SelectListItem>)ViewBag.types, true, PH.TemplatesImprtExport.Type)
                @Html.FormDropDownListRow(m => m.TimeId, (List<SelectListItem>)ViewBag.TimeDef, true, PH.TemplatesImprtExport.Time)
                @Html.FormDropDownListRow(m => m.TeamId, (List<SelectListItem>)ViewBag.Teams, false, PH.TemplatesImprtExport.Team)
                @Html.FormEditorRow(PH.TemplatesImprtExport.File,
                    @Html.Kendo().Upload()
                    .Name("File")
                    .ShowFileList(true)
                    .Multiple(false)
                    .Validation(v=>v
                        .AllowedExtensions(new string[] {"xls", "xlsx"})
                        .MaxFileSize(5*1000*1000)
                        ),null,"",false,true
               )
                @Html.FormEditorRow("", null)
                @Html.FormEditorRow("", null)
                @Html.FormActionsRow(
                FormActionButton.SubmitButton(),
                FormActionButton.ResetButton(),
                new FormActionButton { Label = PH.TemplatesImprtExport.DownloadTemplate, Type = "button", CssClass = "green download downloadwithdata" },
                new FormActionButton { Label = PH.TemplatesImprtExport.DownloadEmptyTemplate, Type = "button", CssClass = "blue download", OtherProperties = "onclick='return downloadEmptyTemplate();'" })

            </div>

            if (list != null)
            {
                <div>
                    @Html.Partial("_Grid")
                </div>
            }

        }
    </div>
    <!-- /tile body -->
</div>
@*<link href="~/Content/swalExtend/style.css" rel="stylesheet" />*@
<script src="~/Scripts/swal/swal2.js"></script>
<script>
    $(function () {
        var type = $("#TypeId").data("kendoDropDownList").value();
        if (type<=0) {
            $(".download").prop('disabled', true);
        }
        else {
            $(".download").prop('disabled', false);
        }
        $('button[type="reset"]').click(function () {
            $(".download").prop('disabled', true);
        });
        $("#TypeId").change(function () {
            if ($("#TypeId").data("kendoDropDownList").value() > 0) {
                $(".download").prop('disabled', false);
            }
        });

        $('button[type="submit"]').click(function () {
            $("#Grid").data("kendoGrid").dataSource.read();
        });




    });


    function downloadTemplate(limit) {
        var templateUrl = '@Url.Action("DownloadTemplate")';
        window.location = templateUrl + "?type=" + $("#TypeId").data("kendoDropDownList").value() + "&team=" + $("#TeamId").data("kendoDropDownList").value() + "&time=" + $("#TimeId").data("kendoDropDownList").value() +"&allData=" + limit;
            return true;
    }
    function downloadEmptyTemplate() {
        var templateUrl = '@Url.Action("DownloadEmptyTemplate")';
        window.location = templateUrl + "?type=" + $("#TypeId").data("kendoDropDownList").value();
            return true;
    }


    $(".downloadwithdata").click(function () {
        var type = $("#TypeId").data("kendoDropDownList").value();
        var team = $("#TeamId").data("kendoDropDownList").value();
        var time = $("#TimeId").data("kendoDropDownList").value();

              $.ajax({
                 type: "POST",
                  url: '@Url.Action("GetCount", formController)',
                  data: { type: type, team: team, time: time },
                  dataType: "json",
                  async: false,
                  success: function (data) {
                      var duration =  Math.ceil(data / @recordperMinute);
                      var count = data / 1000;

                      if (data == 0)
                          downloadEmptyTemplate();
                      else if (data <= @recordperMinute) {
                            Swal.fire({
                                  title: "Attention!",
                                  text: count + "K records will be downloaded (within " + duration + " min.)",
                                  icon: "info",
                                  confirmButtonText: count +"K Records",
                                  confirmButtonColor: '#3085d6',
                                  showCancelButton: false,
                                  showCloseButton: true

                              }).then((result) => {
                                  if (result.value) {
                                      downloadTemplate(false);
                                  }
                              })

                      }
                      else {
                              Swal.fire({
                                  title: "Attention!",
                                  text:  parseInt(@recordperMinute)/ 1000 + "K records will be downloaded (within 1 min.) and " +
                                      count + "K records will be downloaded (within " + duration + " mins.)",
                                  icon: "info",
                                  confirmButtonText: parseInt(@recordperMinute)/ 1000 +"K Records",
                                  cancelButtonText: count + "K Records",
                                  confirmButtonColor: '#3085d6',
                                  cancelButtonColor: '#d33',
                                  showCancelButton: true,
                                  showCloseButton: true

                              }).then((result) => {
                                  if (result.value) {
                                      downloadTemplate(false);
                                  } 
                                  else if ( result.dismiss === Swal.DismissReason.cancel ) {
                                      downloadTemplate(true);
                                  }
                              })

                          }
                      }
                });
             });
  


</script>