﻿@model DB.ORM.DB.CeilingDosageAccount
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
      
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @(modeAdd ? null : Html.HiddenFor(m => m.CeilingDosageAccountId))
            @Html.FormDropDownListRow(m => m.AccountId, "valueMapper", "ReadAccountsList", "Lookup", "AccountName", "AccountId", "#= AccountCode# | #= AccountName # from: #=TerritoryName# , address: #=Address#", false, PH.Product.Account, "AccountsId")
            @Html.FormDropDownListRow(m => m.DosageFormId, (List<SelectListItem>)ViewBag.DosageForms, true, PH.CeilingDosage.DosageForm)
            @Html.FormEditorRow(m => m.CeilingQty, PH.CeilingDosage.CeilingQty, true)
            @Html.FormDropDownListRow(m => m.FromTimeId, (List<SelectListItem>)ViewBag.TimeDef, true, PH.CeilingDosage.FromPeriod)
            @Html.FormDropDownListRow(m => m.ToTimeId, (List<SelectListItem>)ViewBag.TimeDef, false, PH.CeilingDosage.ToPeriod)
            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>
     function valueMapper(options) {
        $.ajax({
            url: "@Url.Action("Accounts_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
     }
    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>