﻿@model Services.Business.Sales.BonusTracking.BonusTrackingDto
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("Submit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
         {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @Html.FormDropDownListRow(m => m.TimeId, (List<SelectListItem>)ViewBag.Time, true, "Time")
            @Html.FormDropDownListRow(m => m.TeamId, (List<SelectListItem>)ViewBag.Teams, false, "Team")

            @Html.FormDropDownListRow(m => m.ProductId, null, false, "Product")

            @Html.FormActionsRow(
                          new FormActionButton { Label = "Start Tracking", Type = "submit", CssClass = "green " },
                          FormActionButton.ResetButton(),
                          FormActionLink.BackButton()
                          )
        </div>
         }

    </div>
    <!-- /tile body -->
</div>


<script>
  

    $("#TimeId").change(function () {
        FillMyterritories();
    });

    $("#TeamId").change(function () {
        FillMyterritories();
    });

    FillMyterritories = () => {
        var id = $("#TeamId").val();
        //if (id != "") {
            var timeid = $("#TimeId").val();
            var url = '@Url.Action("GetMyProducts", formController)';
            var Product = $('#ProductId');
            $.getJSON(url, { TeamId: id, timeId: timeid }, function (data) {
                Product.data("kendoDropDownList").dataSource.data(data);
            });
        //}
    }
</script>