﻿@model Services.Business.Sales.TeamProfileTemplatViewModel
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var list = ViewBag.list;
}


<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("Submit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.FormDropDownListRow(m => m.TeamId, (List<SelectListItem>)ViewBag.Teams, false, PH.TemplatesImprtExport.Team)
            @Html.FormEditorRow(PH.TemplatesImprtExport.File,
                @Html.Kendo().Upload()
                .Name("File")
                .ShowFileList(true)
                .Multiple(false)
                .Validation(v=>v
                    .AllowedExtensions(new string[] {"xls", "xlsx"})
                    .MaxFileSize(5*1000*1000)
                    ),null,"",false,true
           )
            @Html.FormEditorRow("", null)
            @Html.FormActionsRow(
           FormActionButton.SubmitButton(),
           FormActionButton.ResetButton(),
           new FormActionButton { Label = PH.TemplatesImprtExport.DownloadTemplate, Type = "button", CssClass = "green download", OtherProperties = "onclick='return downloadTemplate();'" },
           new FormActionButton { Label = PH.TemplatesImprtExport.DownloadEmptyTemplate, Type = "button", CssClass = "blue", OtherProperties = "onclick='return downloadEmptyTemplate();'" })

        </div>
            if (list != null)
            {
                <div>
                    @Html.Partial("_Grid")
                </div>
            }
           

        }

    </div>
    <!-- /tile body -->
</div>


<script>
    $(function () {
        var team = $("#TeamId").data("kendoDropDownList").value();
        if (team<=0) {
            $(".download").prop('disabled', true);
        }
        else {
            $(".download").prop('disabled', false);
        }
        $('button[type="reset"]').click(function () {
            $(".download").prop('disabled', true);
        });
        $("#TeamId").change(function () {
            if ($("#TeamId").data("kendoDropDownList").value() > 0) {
                $(".download").prop('disabled', false);
            } 
        });

        $('button[type="submit"]').click(function () {
            $("#Grid").data("kendoGrid").dataSource.read();
        });

    });


    function downloadTemplate() {
        var templateUrl = '@Url.Action("DownloadTemplate")';
        window.location = templateUrl + "?team=" + $("#TeamId").data("kendoDropDownList").value();
            return true; 
    }
    function downloadEmptyTemplate() {
        window.location ='@Url.Action("DownloadEmptyTemplate")';
            return true; 
    }

 
</script>