﻿@model DB.ORM.DB.EmployeeHistory
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
    
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@

      


        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
            <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @(modeAdd ? null : Html.HiddenFor(m => m.EmployeeHistoryId))
                @Html.FormDropDownListRow(m => m.EmployeeId, (List<SelectListItem>)ViewBag.Employees, true, PH.Employee.EmployeeName)
                @Html.FormDropDownListRow(m => m.JobTitleId, (List<SelectListItem>)ViewBag.JobTitles, true, PH.Employee.JobTitleName)
                @Html.FormDropDownListRow(m => m.DepartmentId, (List<SelectListItem>)ViewBag.Departments, true, PH.Employee.DepartmentName)
                @Html.FormDropDownListRow(m => m.ManagerId, (List<SelectListItem>)ViewBag.Employees, false, PH.Employee.ManagerName)
                @Html.FormEditorRow(m => m.OrganizationLevel, PH.Employee.OrganizationLevel)
                @Html.FormEditorRow(m => m.FromDate, PH.Employee.FromDate, true)
                @Html.FormEditorRow(m => m.ToDate, PH.Employee.ToDate)


                @Html.FormActionsRow("Edit", new { id = Model.EmployeeId }, "tab_employeeHistory")
            </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
