﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_ProductPrice>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.ProductPriceId).Hidden();
            columns.Bound(p => p.ProductName).Title(PH.Product.ProductName).AddDefaultOptions();
            columns.Bound(p => p.PriceType).Title(PH.Product.PriceType).AddDefaultOptions();
            //columns.Bound(p => p.PriceTypeName).Title(PH.Product.PriceTypeName).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.FromDate).Title(PH.Product.FromDate).AddDefaultOptions();
            columns.Bound(p => p.ToDate).Title(PH.Product.ToDate).AddDefaultOptions();
            columns.Bound(p => p.Price).Title(PH.Product.Price).AddDefaultOptions();
            columns.Bound(p => p.CountryCode).Title(PH.Product.CountryCode).AddDefaultOptions();

            columns.AddAuditColumns();
            columns.AddActionColumns("ProductPriceId");
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.ProductPriceId);
                            model.Field(a => a.ProductPriceId).Editable(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Product</strong>
            <p class="col-template-val">#=data.ProductName#</p>

            <strong>Dosage</strong>
            <p class="col-template-val">#=data.DosageFormName#</p>

            <strong>Distributor</strong>
            <p class="col-template-val">#=data.DistributorName#</p>

            <strong>Price</strong>
            <p class="col-template-val">#=data.Price#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>