﻿@model Web.App.Models.VMSalesImport

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modeList = new DropDownListItem[] { new DropDownListItem { Text = "Append", Value = "A"}, new DropDownListItem { Text = "Overwrite All", Value = "O" , Selected = true}, new DropDownListItem { Text = "Overwrite Existing", Value = "E" } };
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}


<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title)
    <!-- tile body -->
    <div class="portlet-body form">
        @using (Html.BeginForm("create", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.FormDropDownListRow(m=>m.DistributorId,(List<SelectListItem>)ViewBag.Distributors, true,PH.SalesImport.Distributor)
            @Html.FormDropDownListRow(m=>m.TimeDefinitionId,(List<SelectListItem>)ViewBag.TimeDef, true, PH.SalesImport.TimeDefinition)

            @Html.FormEditorRow(PH.SalesImport.ImportMode,
                Html.Kendo().DropDownListFor(m=>m.ImportMode)
                .BindTo(modeList)
                .DataTextField("Text")
                .DataValueField("Value")
                .HtmlAttributes(new { style = "width:100%" }))

            @Html.FormEditorRow(PH.SalesImport.File,
                @Html.Kendo().Upload()
                .Name("Files")
                .ShowFileList(true)
                .Multiple(true)
                .Validation(v=>v
                    .AllowedExtensions(new string[] {"txt", "xls", "xlsx", "zip", "csv", "mdb" })
                    .MaxFileSize(double.MaxValue)
                    )
           )
            @Html.FormEditorRow("", null)
            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>

