﻿@model DB.ORM.DB.fn_GetImportedFileDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionsBtn = (List<Services.Business.Sales.ImportedFileStatus>)ViewBag.Actions;
}
<div class="row">
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-info"></i>Details [@Model.DistributorName/@Model.PeriodName]
                </div>
                <div class="tools">
                    @if ((bool)ViewBag.ShowDownload)
                    {<a href="@Url.Action("DownloadFiles", new { id = Model.FileId })" class="fa fa-download"></a>}
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Mode: </div>
                            <div class="col-md-7 value">
                                @Model.ImportMode
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Status: </div>
                            <div class="col-md-7 value">
                                <span class="label label-@ViewBag.StatusColor"> @Model.StatusName </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Time: </div>
                            <div class="col-md-7 value">
                                @Model.PeriodName
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Country: </div>
                            <div class="col-md-7 value">
                                @Model.CountryName
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Last Update By: </div>
                            <div class="col-md-7 value">
                                @Model.UpdatedByLogonName
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Last Update at: </div>
                            <div class="col-md-7 value">
                                @Model.LastUpdate
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row static-info">
                            <div class="col-md-5 name"> Processing time: </div>
                            <div class="col-md-7 value">
                                @Model.UploadProcessingTime_Hr hr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <script>
                            function Submit(type) {
                                var confirmed = false;
                                if (type > 0)
                                    confirmed = confirm('Are you sure?');
                                else confirmed = true;

                                if (confirmed) {
                                    $.ajax({
                                        url: '@Url.Action("SubmitSalesImport")',
                                        data: { id: @Model.FileId , type: type},
                                        async: false,
                                        type: "POST",
                                        success: function (data) {
                                            if ($.trim(data)) {

                                                window.location.href = '@Url.Action("Index")';

                                            }
                                            else {
                                                alert("Cannot apply action !!!");
                                            }
                                        },
                                        error: function (errorThrown) {
                                            alert("There is an error while applying the action!");
                                        }
                                    })
                                }
                            }
                        </script>
                        <div class="col-md-offset-2 col-md-10">
                            @if (actionsBtn.Contains(Services.Business.Sales.ImportedFileStatus.Saved))
                            {
                                <button type="button" class="btn blue" onclick="Submit(0)">Submit</button>
                            }
                            @if (actionsBtn.Contains(Services.Business.Sales.ImportedFileStatus.Deleted_Full) || actionsBtn.Contains(Services.Business.Sales.ImportedFileStatus.Deleted_withoutMappings))
                            {
                                <div class="btn-group">
                                    <button class="btn red dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                        Delete
                                        <i class="fa fa-angle-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="javascript:;" onclick="Submit(1)"> Full </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" onclick="Submit(2)">
                                                Sales Only
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            @if (actionsBtn.Contains(Services.Business.Sales.ImportedFileStatus.Cancelled))
                            {
                                <button type="button" class="btn purple" onclick="Submit(3)">Cancel</button>
                            }
                            <a href="@Url.Action("Index")" class="btn default">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calculator"></i>Summary
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
                    <a href="javascript:;" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    @(Html.Kendo().Grid<DB.ORM.DB.fn_GetImportedFileSummary>()
                        .Name("Summary")
                        .Columns(c =>
                        {
                            c.Bound(m => m.Factor).Title("");
                            c.Bound(m => m.Original).Format("{0:0,0}");
                            c.Bound(m => m.Current).Format("{0:0,0}");
                        })
                        .AddDefaultOptions(true).Pageable(p=>p.Enabled(false)).Sortable(s=>s.Enabled(false)).Filterable(f=>f.Enabled(false))
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.Factor);
                                model.Field(a => a.Factor).Editable(false);
                            }, read => read.Action("ReadFileSummary", formController, new { fileId = Model.FileId }))
                        )
                    )
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line">
                <div class="caption">
                    <i class="icon-pin font-yellow-crusta"></i>
                    <span class="caption-subject bold font-yellow-crusta uppercase"> Mappings </span>
                </div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_UnmappedAccounts" data-toggle="tab" aria-expanded="true">
                            Map Accounts @if ((int)ViewBag.UnmappedAccounts > 0)
                            {<span class="badge badge-danger" id="umaBadge">@ViewBag.UnmappedAccounts</span>}
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab_UnmappedProducts" data-toggle="tab" aria-expanded="false">
                            Map Products @if ((int)ViewBag.UnmappedProducts > 0)
                            {<span class="badge badge-danger" id="umpBadge">@ViewBag.UnmappedProducts</span>}
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab_UnMappedAccountsToCreate" data-toggle="tab" aria-expanded="false">
                            Unmapped Accounts for Creation
                        </a>
                    </li>
                    <li class="">
                        <a href="#tab_MappedAccounts" data-toggle="tab" aria-expanded="false"> Mapped Accounts</a>
                    </li>
                    <li class="">
                        <a href="#tab_MappedProducts" data-toggle="tab" aria-expanded="false"> Mapped Products</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_UnmappedAccounts">
                        @(Html.Kendo().Grid<DB.ORM.DB.vw_ImportedFile_UnmappedAccount>()
                                    .Name("umaGrid")
                                    .Columns(columns =>
                                    {
                                        columns.Bound(p => p.RecordId).Hidden();
                                        columns.Bound(p => p.CustomerCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.CustomerName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.CustomerAddress).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.CustomerTerritory).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                        columns.Bound(p => p.AffectedRecords).AddDefaultOptions();
                                        columns.Bound(p => p.RecordId)
                                            .ClientTemplate("<input type='button' class='btn btn-primary' onclick=\"openAMScreen(#=RecordId#,'#=CustomerCode#','#=CustomerName#','#=CustomerAddress#','#=CustomerTerritory#')\" value='Map' /><input type='button' class='btn' onclick=\"markCreateAccount(#=RecordId#)\" value='Mark Create' /><input type='button' class='btn green' onclick=\"openCreateAccountScreen(#=RecordId#,'#=CustomerCode#','#=CustomerName#','#=CustomerAddress#','#=CustomerTerritory#')\" value='Create' />")
                                        .Title("").Filterable(false).Sortable(false)
                                        .Visible((bool)ViewBag.CanMapAccount);
                                    })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.RecordId);
                                        model.Field(a => a.RecordId).Editable(false);
                                    }, read => read.Action("ReadUnmappedAccountsList", formController, new { fileId = Model.FileId }))
                                )
                        )
                        @(Html.Kendo().Window()
                                .Name("amWindow")
                                .Title("Map Account")
                                .Modal(true)
                                .Visible(false)
                                .Content(@<text>
                                    <div class="portlet light ">
                                        <div class="portlet-body form">
                                            <form role="form">
                                                <div class="form-body">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <h5>Unknow Customer</h5>
                                                            <div class="form-group">
                                                                <input type="hidden" id="rid" />
                                                                <label class="control-label col-md-3">Customer Code:</label>
                                                                <div class="col-md-6">
                                                                    <span class="form-control-static" id="code"> </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Customer Name:</label>
                                                                <div class="col-md-6">
                                                                    <span class="form-control-static" id="name"> </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Address:</label>
                                                                <div class="col-md-6">
                                                                    <span class="form-control-static" id="address"> </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Territory:</label>
                                                                <div class="col-md-6">
                                                                    <span class="form-control-static" id="terr"> </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5">
                                                            <h5>Selected Account</h5>
                                                            <div class="form-group">
                                                                <input type="hidden" id="aid" />
                                                                <label class="control-label col-md-3">Code:</label>
                                                                <div class="col-md-6">
                                                                    <span class="form-control-static" id="acode"> </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Name:</label>
                                                                <div class="col-md-6">
                                                                    <span class="form-control-static" id="aname"> </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Address:</label>
                                                                <div class="col-md-6">
                                                                    <span class="form-control-static" id="aaddress"> </span>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label col-md-3">Territory:</label>
                                                                <div class="col-md-6">
                                                                    <span class="form-control-static" id="aterr"> </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--/row-->
                                                    <div class="row">
                                                        <div class="col-md-11">
                                                            @(Html.Kendo().Grid<DB.ORM.DB.vw_Account>()
                                                                                                .Name("tmaGrid")
                                                                                                .Columns(columns =>
                                                                                                {
                                                                                                                columns.Bound(p => p.AccountId).Hidden();
                                                                                                                columns.Bound(p => p.AccountCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false)).Title(PH.SalesImport.Code);
                                                                                                                columns.Bound(p => p.AccountName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false)).Title(PH.SalesImport.Name);
                                                                                                                columns.Bound(p => p.Address).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                                                                columns.Bound(p => p.TerritoryName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false)).Title(PH.SalesImport.Territory);
                                                                                                                columns.Bound(p => p.AccountTypeName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false)).Title(PH.SalesImport.Type);
                                                                                                                        //columns.Bound(p => p.CategoryName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false)).Title("Category");
                                                                                                                        columns.Bound(p => p.AccountId)
                                                                                                            .ClientTemplate("<input type='button' class='btn btn-primary' onclick=\"selectAccount('#=AccountId#','#=AccountName#','#=AccountName#','#=Address#','#=Address#')\" value='Select' />")
                                                                                                            .Title("").Filterable(false);
                                                                                                            })
                                                                                                .AddDefaultOptions()
                                                                                                .DataSource(dataSource => dataSource
                                                                                                .AddDefaultSettings(model =>
                                                                                                {
                                                                                                                model.Id(p => p.AccountId);
                                                                                                                model.Field(a => a.AccountId).Editable(false);
                                                                                                            }, read => read.Action("ReadAccountsList", formController))
                                                                                                )
                                                            )
                                                        </div>
                                                    </div>
                                                    <!--/row-->
                                                </div>
                                                <div class="form-actions noborder">
                                                    <button type="button" class="btn blue" onclick="applyAM()">Apply</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </text>)
                    .Draggable()
                    .Resizable()
                    .ContentSettings(c => c.Iframe(true))
                    .Width(950)
                    .Actions(actions => actions.Maximize().Close())
                        )
                        @(Html.Kendo().Window()
                                                      .Name("caWindow")
                                                      .Title("Create New Account")
                                                      .Modal(true)
                                                      .Visible(false)
                                                      .Content(@<text>
                                                        <div class="portlet light ">
                                                            <div class="portlet-body form">
                                                                <form role="form">
                                                                    <div class="form-body">
                                                                        <div class="form-group form-md-line-input">
                                                                            <input type="hidden" id="caid" />
                                                                            <label class="col-md-2 control-label">Code:</label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" id="cacode" />
                                                                                <div class="form-control-focus"> </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-md-line-input">
                                                                            <label class="col-md-2 control-label">Name:</label>
                                                                            <div class="col-md-9">
                                                                               <input class="form-control" id="caname" />
                                                                                <div class="form-control-focus"> </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-md-line-input">
                                                                            <label class="col-md-2 control-label">Address:</label>
                                                                            <div class="col-md-9">
                                                                                <input class="form-control" id="caaddress" />
                                                                                <div class="form-control-focus"> </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-md-line-input">
                                                                            <input type="hidden" id="caid" />
                                                                            <label class="col-md-2 control-label">Customer Territory:</label>
                                                                            <div class="col-md-9">
                                                                                <span class="form-control-static" id="caterr_v"> </span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-md-line-input">
                                                                            <label class="control-label col-md-3">Territory:</label>
                                                                            <div class="col-md-8">
                                                                                @(Html.Kendo().DropDownList().Name("caterr").BindTo((IEnumerable<SelectListItem>)ViewBag.Territories).Filter(FilterType.Contains).HtmlAttributes(new { style = "width: 100%" }))
                                                                                <span class="help-block" id="caterr_v"></span>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-md-line-input">
                                                                            <label class="control-label col-md-3">Type:</label>
                                                                            <div class="col-md-8">
                                                                                @(Html.Kendo().DropDownList().Name("catype").BindTo((IEnumerable<SelectListItem>)ViewBag.AccountTypes).Filter(FilterType.Contains).HtmlAttributes(new { style = "width: 100%" }))
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group form-md-line-input">
                                                                            <label class="control-label col-md-3">Category:</label>
                                                                            <div class="col-md-8">
                                                                                @(Html.Kendo().DropDownList().Name("cacategory").BindTo((IEnumerable<SelectListItem>)ViewBag.AccountCategories).Filter(FilterType.Contains).HtmlAttributes(new { style = "width: 100%" }))
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-actions noborder">
                                                                        <button type="button" class="btn blue" onclick="createAM()">Create</button>
                                                                        <button type="button" class="btn default" onclick="CancelCreateAM()">Cancel</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </text>)
                            .Draggable()
                            .Resizable()
                            .ContentSettings(c => c.Iframe(true))
                            .Width(950)
                            .Actions(actions => actions.Maximize().Close())
                        )
                        <script>
                             function createAM() {
                                
                                var custRecordId = $("#caid").text();
                                var code =  $("#cacode").val();
                                var name = $("#caname").val();
                                var address = $("#caaddress").val();
                                var terrId = $("#caterr").data("kendoDropDownList").value();
                                var typeId = $("#catype").data("kendoDropDownList").value();
                                var catId = $("#cacategory").data("kendoDropDownList").value();

                                $.ajax({
                                    url: '@Url.Action("CreateAccount")',
                                    data: { fileId: @Model.FileId, recordId: custRecordId,accountCode:code, accountName:name, accountAddress:address, accountTerr:terrId, accountCategory:catId, accountType:typeId },
                                    async: false,
                                    type: "POST",
                                    success: function (data) {
                                        if ($.trim(data)) {
                                            alert("Account created and mapped successfully");
                                            reloadGrid("umaGrid");
                                            reloadGrid("Summary");
                                            reloadGrid("maGrid");
                                            reloadBadge("umaBadge", -1);

                                            $("#caWindow").data("kendoWindow").close();
                                        }
                                        else {
                                            alert("Record is not saved !!!");
                                        }
                                    },
                                    error: function (errorThrown) {
                                        alert("There is an error while creating an account!");
                                    }
                                });
                            }
                            function CancelCreateAM() {
                                $("#caWindow").data("kendoWindow").close();
                            }
                            function openCreateAccountScreen(id, code, name, address, terr) {
                                clearGridFilters("tmaGrid");

                                $("#cacode").val(code);
                                $("#caid").text(id);
                                $("#caname").val(name);
                                $("#caaddress").val(address);
                                if (terr != 'null')
                                    $("#caterr_v").text(terr);

                                $("#caWindow").data("kendoWindow").open();
                                $("#caWindow").data("kendoWindow").center();
                            }
                            function openAMScreen(id, code, name, address, terr) {
                                clearAMSelectedFields();
                                clearGridFilters("tmaGrid");

                                $("#code").text(code);
                                $("#rid").text(id);
                                $("#name").text(name);
                                $("#address").text(address);
                                if (terr != 'null')
                                    $("#terr").text(terr);

                                var grid = $('#tmaGrid').data('kendoGrid');
                                grid.dataSource.read();

                                $("#amWindow").data("kendoWindow").open();
                                $("#amWindow").data("kendoWindow").center();
                            }
                            function clearAMSelectedFields() {
                                selectAccount(null, '','','','');
                            }
                            function applyAM() {
                                var custRecordId = $("#rid").text();
                                var accountId = $("#aid").text();

                                if (accountId == 'null' || accountId < 1) { alert("Please select Account..."); return;}

                                $.ajax({
                                    url: '@Url.Action("MapAccount")',
                                    data: { fileId: @Model.FileId, recordId: custRecordId , accountId: accountId },
                                    async: false,
                                    type: "POST",
                                    success: function (data) {
                                        if ($.trim(data)) {
                                            alert("Mapping saved successfully");
                                            reloadGrid("umaGrid");
                                            reloadGrid("Summary");
                                            reloadGrid("maGrid");
                                            reloadBadge("umaBadge", -1);

                                            $("#amWindow").data("kendoWindow").close();
                                        }
                                        else {
                                            alert("Record is not mapped !!!");
                                        }
                                    },
                                    error: function (errorThrown) {
                                        alert("There is an error while mapping!");
                                    }
                                });
                            }
                            function reloadBadge(badgeName, increment) {
                                var bname = "#" + badgeName;
                                var val = parseInt($(bname).text());
                                val = val + increment;
                                $(bname).text(val);
                                if ($(bname).text() < 1)
                                    $(bname).hide();
                                else
                                    $(bname).show();
                            }
                            function reloadGrid(targetGrid) {

                                var grid = $("#"+targetGrid).data("kendoGrid");
                                grid.dataSource.read();
                                grid.refresh();
                            }
                            function selectAccount(id, code, name, address, terr) {
                                $("#acode").text(code);
                                $("#aid").text(id);
                                $("#aname").text(name);
                                $("#aaddress").text(address);
                                $("#aterr").text(terr);

                            }
                            function clearGridFilters(gridName) {
                                var gridDataSource = $("#" + gridName).data("kendoGrid").dataSource;
                                for (var i = 0; i < gridDataSource.options.fields.length - 1; i++) {
                                    gridDataSource.filter({ field: gridDataSource.options.fields[i].field, value: "" });
                                }
                                gridDataSource.filter([]);
                            }
                            function markCreateAccount(recordId) {
                                $.ajax({
                                    url: '@Url.Action("MarkAccountforCreation")',
                                    data: { fileId: @Model.FileId, recordId: recordId},
                                    async: false,
                                    type: "POST",
                                    success: function (data) {
                                        if ($.trim(data)) {
                                            alert("Account marked to get created");
                                            reloadGrid("umaGrid");
                                            reloadGrid("Summary");
                                            reloadGrid("macGrid");
                                        }
                                        else {
                                            alert("Record is not marked !!!");
                                        }
                                    },
                                    error: function (errorThrown) {
                                        alert("There is an error while marking!");
                                    }
                                });
                            }
                        </script>
                    </div>
                    <div class="tab-pane" id="tab_UnmappedProducts">
                        @(Html.Kendo().Grid<DB.ORM.DB.vw_ImportedFile_UnmappedProduct>()
                                                        .Name("umpGrid")
                                                        .Columns(columns =>
                                                        {
                                                            columns.Bound(p => p.RecordId).Hidden();
                                                            columns.Bound(p => p.DosageFormCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                            columns.Bound(p => p.DosageFormName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                            columns.Bound(p => p.AffectedRecords).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                            columns.Bound(p => p.RecordId)
                                                                .ClientTemplate("<input type='button' class='btn btn-primary' onclick=\"openPMScreen('#=RecordId#','#=DosageFormCode#','#=DosageFormName#')\" value='Map' />")
                                                            .Title("").Filterable(false)
                                                            .Visible((bool)ViewBag.CanMapProduct);
                                                        })
                                                    .AddDefaultOptions()
                                                    //.Editable(e => e.Enabled(true).Mode(GridEditMode.PopUp).TemplateName(""))
                                                    .DataSource(dataSource => dataSource
                                                        .AddDefaultSettings(model =>
                                                        {
                                                            model.Id(p => p.RecordId);
                                                            model.Field(a => a.RecordId).Editable(false);
                                                        }, read => read.Action("ReadUnmappedProductsList", formController, new { fileId = Model.FileId }))
                                                    )
                        )
                        @(Html.Kendo().Window()
                                                        .Name("pmWindow")
                                                        .Title("Map Product")
                                                        .Modal(true)
                                                        .Visible(false)
                                                        .Content(@<text>
                                                            <div class="portlet light ">
                                                                <div class="portlet-body form">
                                                                    <form role="form">
                                                                        <div class="form-body">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <h5>Unknow Product</h5>
                                                                                    <div class="form-group">
                                                                                        <input type="hidden" id="drid" />
                                                                                        <label class="control-label col-md-3">Dosage Code:</label>
                                                                                        <div class="col-md-6">
                                                                                            <span class="form-control-static" id="udcode"> </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-md-3">Dosage Name:</label>
                                                                                        <div class="col-md-6">
                                                                                            <span class="form-control-static" id="udname"> </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-5">
                                                                                    <h5>Selected Product</h5>
                                                                                    <div class="form-group">
                                                                                        <input type="hidden" id="did" />
                                                                                        <label class="control-label col-md-3">Code:</label>
                                                                                        <div class="col-md-6">
                                                                                            <span class="form-control-static" id="dcode"> </span>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-md-3">Name:</label>
                                                                                        <div class="col-md-6">
                                                                                            <span class="form-control-static" id="dname"> </span>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <!--/row-->
                                                                            <div class="row">
                                                                                <div class="col-md-11">
                                                                                    @(Html.Kendo().Grid<DB.ORM.DB.vw_DosageForm>()
                                                                                                            .Name("tmpGrid")
                                                                                                            .Columns(columns =>
                                                                                                            {
                                                                                                                            columns.Bound(p => p.DosageFormId).Hidden();
                                                                                                                            columns.Bound(p => p.DosageFormCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                                                                            columns.Bound(p => p.DosageFormName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                                                                            columns.Bound(p => p.ProductName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                                                                            columns.Bound(p => p.DosageFormId)
                                                                                                                                        .ClientTemplate("<input type='button' class='btn btn-primary' onclick=\"selectProduct('#=DosageFormId#','#=DosageFormCode#','#=DosageFormName#')\" value='Select' />")
                                                                                                                                        .Title("").Filterable(false);
                                                                                                                        })
                                                                                                            .AddDefaultOptions()
                                                                                                            .DataSource(dataSource => dataSource
                                                                                                            .AddDefaultSettings(model =>
                                                                                                            {
                                                                                                                            model.Id(p => p.DosageFormId);
                                                                                                                            model.Field(a => a.DosageFormId).Editable(false);
                                                                                                                        }, read => read.Action("ReadDosagesList", formController))
                                                                                                            )
                                                                                    )
                                                                                </div>
                                                                            </div>
                                                                            <!--/row-->
                                                                        </div>
                                                                        <div class="form-actions noborder">
                                                                            <button type="button" class="btn blue" onclick="applyPM()">Apply</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </text>)
                    .Draggable()
                    .Resizable()
                    .ContentSettings(c => c.Iframe(true))
                    .Width(950)
                    .Actions(actions => actions.Maximize().Close())
                        )
                        <script>
                            function openPMScreen(id, code, name) {
                                clearPMSelectedFields();
                                clearGridFilters("tmpGrid");

                                $("#udcode").text(code);
                                $("#drid").text(id);
                                $("#udname").text(name);

                                var grid = $('#tmpGrid').data('kendoGrid');
                                grid.dataSource.read();

                                $("#pmWindow").data("kendoWindow").open();
                                $("#pmWindow").data("kendoWindow").center();
                            }
                            function clearPMSelectedFields() {
                                selectProduct(null, '','');
                            }
                            function applyPM() {
                                var dosageRecordId = $("#drid").text();
                                var prodId = $("#did").text();

                                if (prodId == 'null' || prodId < 1) { alert("Please select Dosage..."); return;}

                                $.ajax({
                                    url: '@Url.Action("MapProduct")',
                                    data: { fileId: @Model.FileId, recordId: dosageRecordId, dosageId: prodId },
                                    async: false,
                                    type: "POST",
                                    success: function (data) {
                                        if ($.trim(data)) {
                                            alert("Mapping saved successfully");
                                            reloadGrid("umpGrid");
                                            reloadGrid("mpGrid");
                                            reloadGrid("Summary");
                                            reloadBadge("umpBadge", -1);

                                            $("#pmWindow").data("kendoWindow").close();
                                        }
                                        else {
                                            alert("Record is not mapped !!!");
                                        }
                                    },
                                    error: function (errorThrown) {
                                        alert("There is an error while mapping!");
                                    }
                                });
                            }
                            function selectProduct(id, code, name) {
                                $("#dcode").text(code);
                                $("#did").text(id);
                                $("#dname").text(name);
                            }
                        </script>
                    </div>
                    <div class="tab-pane" id="tab_UnMappedAccountsToCreate">
                        @if (actionsBtn.Contains(Services.Business.Sales.ImportedFileStatus.Saved))
                        {
                            <a class="btn btn-outline-primary" href="@Url.Action("UploadAccounts", new { fileId = Model.FileId })"><i class="fa fa-upload"></i>Upload</a>
                            <br />
                        }
                        @(Html.Kendo().Grid<DB.ORM.DB.vw_ImportedFile_AccountsToCreate>()
                                                                .Name("macGrid")
                                                                .Columns(columns =>
                                                                {
                                                                    columns.Bound(p => p.RecordId).Hidden();
                                                                    columns.Bound(p => p.CustomerCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                    columns.Bound(p => p.CustomerName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                    columns.Bound(p => p.CustomerAddress).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                    columns.Bound(p => p.CustomerTerritory).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                    columns.Bound(p => p.Territory).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                    columns.Bound(p => p.AccountType).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                    columns.Bound(p => p.Category).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                                    columns.Bound(p => p.RecordId)
                                                                                    .ClientTemplate("<input type='button' class='btn btn-primary' onclick=\"UndoMap('#=RecordId#','#=FileId#','C')\" value='Undo' />")
                                                                                .Title("").Filterable(false)
                                                                                .Visible((bool)ViewBag.CanMapAccount);

                                                                })
                                                                .AddDefaultOptions()
                                                                .Editable(e => e.Mode(GridEditMode.InCell))
                                                                .DataSource(dataSource => dataSource
                                                                    .AddDefaultSettings(model =>
                                                                    {
                                                                        model.Id(p => p.FileId);
                                                                        model.Field(a => a.FileId).Editable(false);
                                                                        model.Field(a => a.CustomerCode).Editable(false);
                                                                        model.Field(a => a.CustomerName).Editable(false);
                                                                        model.Field(a => a.CustomerAddress).Editable(false);
                                                                        model.Field(a => a.CustomerTerritory).Editable(false);
                                                                    }, read => read.Action("ReadUnmappedAccountsToCreateList", formController, new { fileId = Model.FileId }))
                                                                )
                        )
                    </div>
                    <div class="tab-pane" id="tab_MappedAccounts">
                        @(Html.Kendo().Grid<DB.ORM.DB.fn_GetImportedFileMappedAccounts>()
                                            .Name("maGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(p => p.FileRecordId).Hidden();
                                                columns.Bound(p => p.CustomerCode).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                columns.Bound(p => p.CustomerName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                columns.Bound(p => p.CustomerAddress).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                columns.Bound(p => p.AccountName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                columns.Bound(p => p.AccountTypeName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                columns.Bound(p => p.TerritoryName).AddDefaultOptions().Filterable(f => f.Search(true).Multi(false));
                                                columns.Bound(p => p.FileRecordId)
                                                                .ClientTemplate("<input type='button' class='btn btn-primary' onclick=\"UndoMap('#=FileRecordId#','#=FileId#','A')\" value='Undo' />")
                                                            .Title("").Filterable(false)
                                                            .Visible((bool)ViewBag.CanMapAccount);

                                            })
                                            .AddDefaultOptions()
                                            .DataSource(dataSource => dataSource
                                                .AddDefaultSettings(model =>
                                                {
                                                    model.Id(p => p.FileId);
                                                    model.Field(a => a.FileId).Editable(false);
                                                }, read => read.Action("ReadMappedAccountsList", formController, new { fileId = Model.FileId }))
                                            )
                        )
                    </div>
                    <div class="tab-pane" id="tab_MappedProducts">
                        @(Html.Kendo().Grid<DB.ORM.DB.fn_GetImportedFileMappedProducts>()
                                            .Name("mpGrid")
                                            .Columns(columns =>
                                            {
                                                columns.Bound(p => p.FileRecordId).Hidden();
                                                columns.Bound(p => p.DistributorDFCode).AddDefaultOptions();
                                                columns.Bound(p => p.DistributorDFName).AddDefaultOptions();
                                                columns.Bound(p => p.DosageFormName).AddDefaultOptions();
                                                columns.Bound(p => p.ProductName).AddDefaultOptions();
                                                columns.AddAuditColumns();
                                                columns.Bound(p => p.FileRecordId)
                                                                .ClientTemplate("<input type='button' class='btn btn-primary' onclick=\"UndoMap('#=FileRecordId#','#=FileId#','P')\" value='Undo' />")
                                                            .Title("").Filterable(false)
                                                            .Visible((bool)ViewBag.CanMapProduct);
                                            })
                                            .AddDefaultOptions()
                                            .DataSource(dataSource => dataSource
                                                .AddDefaultSettings(model =>
                                                {
                                                    model.Id(p => p.FileId);
                                                    model.Field(a => a.FileId).Editable(false);
                                                }, read => read.Action("ReadMappedProductsList", formController, new { fileId = Model.FileId }))
                                            )
                        )
                    </div>
                    <script>
                        function UndoMap(id,fId, type){
                            if (confirm('Are you sure you want to undo Mapping?')) {
                                var pUndoUrl = '@Url.Action("UndoProductMapping")';
                                var aUndoUrl = '@Url.Action("UndoAccountMapping")';
                                var acUndoUrl = '@Url.Action("UndoAccountCreation")';

                                var finalUrl = pUndoUrl;
                                if (type == 'C')
                                    finalUrl = acUndoUrl;
                                else if (type == 'A')
                                    finalUrl = aUndoUrl;

                                $.ajax({
                                    url: finalUrl,
                                    data: { recordId: id , fileId: fId},
                                    async: false,
                                    type: "POST",
                                    success: function (data) {
                                        if ($.trim(data)) {
                                            alert("Undo Mapping successfully");
                                            reloadGrid("Summary");
                                            if (type == 'C') {
                                                reloadGrid("macGrid");
                                                reloadGrid("umaGrid");
                                            }
                                            else if (type == 'A') {
                                                reloadGrid("umaGrid");
                                                reloadGrid("maGrid");
                                                reloadBadge("umaBadge", 1);
                                            } else {
                                                reloadGrid("umpGrid");
                                                reloadGrid("mpGrid");
                                                reloadBadge("umpBadge", 1);
                                            }
                                        }
                                        else {
                                            alert("Cannot undo mapping !!!");
                                        }
                                    },
                                    error: function (errorThrown) {
                                        alert("There is an error while Undo Mapping!");
                                    }
                                })
                            }
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
