﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/Grid/gridDelete.js"></script>*@

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        <script>
            function onDataBound(e) {
                var grid = $("#Grid").data("kendoGrid");
                var gridData = grid.dataSource.data();
                $.each(gridData, function (i, row) {
                    if (row.StatusName == "Failed")
                        $("tr[data-uid='" + row.uid + "']").css("background-color", "#e73d4a");
                    else if (row.StatusName == "Deleted (Full)" || row.StatusName == "Deleted w/t Mapping")
                        $("tr[data-uid='" + row.uid + "']").css("background-color", "#fbe1e3");
                    else if (row.StatusName == "Saved")
                        $("tr[data-uid='" + row.uid + "']").css("background-color", "#abe7ed");
                    else if (row.StatusName == "Saved w/t Territory")
                        $("tr[data-uid='" + row.uid + "']").css("background-color", "#faeaa9");
                    else if (row.StatusName == "Canceled")
                        $("tr[data-uid='" + row.uid + "']").css("background-color", "#F7CA18");

                });
            }
        </script>
    
        @(Html.Kendo().Grid<DB.ORM.DB.vw_ImportedFile>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.FileId).Hidden();
                    columns.Bound(p => p.IsSaved).Title("Is Saved").ClientTemplate(
                    @"# if (IsSaved == 1){# <img width=30 height=30 src='" + @Url.Content("~/Images/chk_green.png") + "'> #} else {# <img id='reject' width=30 height=30 src='" + @Url.Content("~/Images/icons/rejecticon.jpg") + "' > #}#")
                     .AddDefaultOptions().Filterable(false);
                    columns.Bound(p => p.DistributorName).Title(PH.SalesImport.DistributorName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.StatusName).Title(PH.SalesImport.StatusName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.PeriodName).Title(PH.SalesImport.PeriodName).AddDefaultOptions();
                    columns.Bound(p => p.CountryCode).Title(PH.SalesImport.CountryCode).AddDefaultOptions();
                    columns.AddAuditColumns();
                    columns.AddActionColumns("FileId", ListActionColumn.EditColumn("FileId"));
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                .AddDefaultOptions()
                                .Events(e=>e.DataBound("onDataBound"))
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.CountryId);
                                        model.Field(a => a.CountryId).Editable(false);
                                    })
                                    .Ajax()
                                    .Sort(sort => sort.Add("IsSaved").Descending())
                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Distributor</strong>
            <p class="col-template-val">#=data.DistributorName#</p>
            <strong>Status</strong>
            <p class="col-template-val">#=data.StatusName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>

            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>