﻿@model Services.Business.Sales.MovementLogDTo.MovementDto
@{
    var title = "Movement Log";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title)
    <!-- tile body -->
    <div class="portlet-body form">

        <div>
            <div class="form-body">
                <div class=" row">
                    <div class="col-md-5">
                        @Html.FormDropDownListRow(m => m.EmployeeId, (List<SelectListItem>)ViewBag.MedicalRep, false, PH.MovementLog.Employee)
                    </div>
                    <div class="col-md-4">
                        @Html.FormEditorRow(m => m.Date, PH.MovementLog.Date)
                    </div>
                    <div class="form-actions col-md-3">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-11">
                                <a id="GetVisits" href="javascript:;" class="btn green button-submit">
                                    Find Visits
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
        <style>
            #Grid {
                font-size: 10px;
            }
        </style>
        <div class="row">
            <div class="col-md-5">
                <div style="margin-top: 20px;">
                    @(Html.Kendo().Grid<DB.ORM.DB.vw_Movement>()
                                                    .Name("Grid")
                                                    .Columns(columns =>
                                                    {
                                                        columns.Bound(p => p.VisitId).Hidden();
                                                        columns.Bound(p => p.AccountTypeCode).Title("Icon").ClientTemplate(
                                                           @"# if (AccountTypeCode == null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Ext#'/>#}
                                                                    else if(AccountTypeCode == 'c'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/clinic.png") + "'> #} else if(AccountTypeCode == 'h'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/hospital.png") + "'> #} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/icons/pharmacy.png") + "'> #}#")
                                                            .AddDefaultOptionsAndViewInMobile();
                                                        columns.Bound(p => p.AccountName).AddDefaultOptionsAndViewInMobile();
                                                        columns.Bound(p => p.DoctorName).AddDefaultOptions();
                                                        columns.Bound(p => p.VisitDate).Title("Date").AddDefaultOptions();

                                                        columns.Template(@<text></text>).AddDefaultMobileTemplate("#=resColTemplate_ea(data)#");
                                            })
                            .AddDefaultOptions()
                            .DataSource(dataSource => dataSource
                                .AddDefaultSettings(model =>
                                {
                                    model.Id(p => p.VisitId);
                                    model.Field(a => a.VisitId).Editable(false);
                                }, read => read.Action("ReadEmployeeVisits", formController).Data("getAdditionalData")).Ajax().PageSize(3)
                            ).Pageable(pager => { pager.PageSizes(true); })
                    )
                    <!-- Grid Mobile View -->
                    <script id="responsive-column-template-ea" type="text/x-kendo-template">
                        <strong>Code</strong>
                        <p class="col-template-val">#=data.EmployeeName#</p>

                        <strong>Name</strong>
                        <p class="col-template-val">#=data.ProfileName#</p>

                        <strong>Size</strong>
                        <p class="col-template-val">#=data.FromDate#</p>

                        <strong>Size</strong>
                        <p class="col-template-val">#=data.ToDate#</p>
                    </script>
                    <script>
                        var resColTemplate_ea = kendo.template($("#responsive-column-template-ea").html());
                    </script>

                    <!-- /Grid Mobile View -->

                </div>


            </div>
            <div class="col-md-7 ">
                @Html.Partial("_Map")
            </div>

        </div>
    </div>
    <!-- /tile body -->
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_RKWMF7_FuJ3x1-SoM3BtG-2bA244a68&callback=initMap" async defer></script>
<script>

    $("#GetVisits").on("click", function () {
        //  $("#map").data("kendoMap").layers[1].dataSource.read();
        $("#Grid").data("kendoGrid").dataSource.read();


    });
    function getAdditionalData() {
        return {
            employeeId: $('#EmployeeId').val(),
            date: $('#Date').val()
        }
    }

    var map;
    var labels = ['1','2','3','4','5','6','7','8','9'];
    var labelIndex = 0;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 30.0444000000, lng: 31.2357000000},
            zoom: 12
        });
        $("#GetVisits").on("click", function () { 
        $.ajax({
            type: "POST",
            url: '@Url.Action("mapVisits")',
            data: { employeeId: $('#EmployeeId').val(), date: $('#Date').val() },
            dataType: "json",
            success: function (data) {
                if (data.length>0) {


                    var markers = data;
                    var linePath = [];
                    var infoWindow = new google.maps.InfoWindow();
                    for (i = 0; i < markers.length; i++) {
                        var data = markers[i]
                        var myLatlng = new google.maps.LatLng(data.Lat, data.Lng);

                        var marker = new google.maps.Marker({
                            position: myLatlng,
                            label: labels[labelIndex++ % labels.length],
                            map: map
                        });
                        linePath.push(myLatlng);
                        (function (marker, data) {
                            google.maps.event.addListener(marker, "mouseover", function (e) {
                                infoWindow.setContent(data.AccountName);
                                infoWindow.open(map, marker);
                            });
                            google.maps.event.addListener(marker, "mouseout", function (e) {
                                infoWindow.close();
                            });
                        })(marker, data);
                    }
                   
                    var visitPath = new google.maps.Polyline({
                        path: linePath,
                        geodesic: true,
                        strokeColor: '#FF0000',
                        strokeOpacity: 1.0,
                        strokeWeight: 2
                    });
                    visitPath.setMap(map);
                }
                else {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 30.0444000000, lng: 31.2357000000 },
                        zoom: 12
                    });
                }
            },
            error: function (httpRequest, textStatus, errorThrown) { }
            });
        });
      
    }
       
  
</script>






