﻿@model Services.Business.CRM.NewDoctorRequest.DoctorAccountVM
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = PH.NewDoctorRequest.AdditionForm;
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<script src="~/Scripts/Grid/gridDelete.js"></script>

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderTabbed((string)title, new FormHeaderTab { Id = "tabs_1", Name = PH.NewDoctorRequest.DoctorDetails }, new FormHeaderTab { Id = "tabs_2", Name = PH.NewDoctorRequest.AccountDetails })

    <div class="portlet-body form">

        <div class="form-body">

            @using (Html.BeginForm("Submit", formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
            {
            <div class="tab-content">
                <div class="tab-pane active" id="tabs_1">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.HiddenFor(m => m.TargetDoctorApprovalId)
                    @Html.HiddenFor(m => m.ApprovalStatus)
                    @Html.HiddenFor(m => m.ProfileId)
                    @Html.HiddenFor(m => m.CreatedById)
                    @Html.HiddenFor(m => m.LastModifiedById)



                    @Html.FormEditorRow(m => m.FirstName, PH.NewDoctorRequest.FirstName, true)
                    @Html.FormEditorRow(m => m.MiddleName, PH.NewDoctorRequest.MiddleName)
                    @Html.FormEditorRow(m => m.LastName, PH.NewDoctorRequest.LastName)
                    @Html.FormDropDownListRow(m => m.PotentialId, (List<SelectListItem>
                        )ViewBag.Potentials, true, PH.NewDoctorRequest.DoctorPotential)
                        @Html.FormDropDownListRow(m => m.SpecialtyId, (List<SelectListItem>
                            )ViewBag.Specialties, true, PH.Doctor.Specialty)
                            @Html.FormDropDownListRow(m => m.Gender, (List<SelectListItem>
                                )ViewBag.Genders, true, PH.Doctor.Gender)
                                @Html.FormEditorRow(m => m.Mobile, PH.Doctor.Mobile)
                                @Html.FormEditorRow(m => m.Frequency, PH.NewDoctorRequest.Frequency, true)
                </div>

                <div class="tab-pane" id="tabs_2">
                    <div class="row">
                        <div class="col-md-6">
                            @Html.FormEditorRow(m => m.AccountName, PH.Account.AccountName,true)
                            @Html.FormEditorRow(m => m.AccountCode, PH.Account.AccountCode)
                            @Html.FormDropDownListRow(m => m.CountryId, (List<SelectListItem>
                                )ViewBag.Countries, true, PH.Doctor.Country)
                                @Html.FormEditorRow(m => m.City, PH.NewDoctorRequest.City)
                                @Html.FormDropDownListRow(m => m.TerritoryId, (List<SelectListItem>)ViewBag.Territories, true, PH.NewDoctorRequest.Territories)

                        </div>
                        <div class="col-md-6">
                            @Html.FormDropDownListRow(m => m.AccountTypeId, (List<SelectListItem>
                                )ViewBag.AccountTypes, true, PH.NewDoctorRequest.AccountTypes)
                                @Html.FormDropDownListRow(m => m.CategoryId, (List<SelectListItem>
                                    )ViewBag.AccountCategories, true, PH.NewDoctorRequest.AccountCategories)
                                    @Html.FormDropDownListRow(m => m.AccountPotentialId, (List<SelectListItem>
                                        )ViewBag.Potentials, false, PH.NewDoctorRequest.AccountPotential)
                                        @Html.FormEditorRow(m => m.Latitude, PH.NewDoctorRequest.Latitude)
                                        @Html.FormEditorRow(m => m.Longitude, PH.NewDoctorRequest.Longitude)
                        </div>

                    </div>
                    @Html.Partial("_Map", Model)

                    @Html.FormActionsRow()

                </div>
                @*@Html.Partial("_ActionButtons", formController)*@
            </div>
            }
        </div>

    </div>
</div>
<style>

    .row .col-md-10 {
        width: 64.33333%;
    }

    .row .col-md-2 {
        width: 35.66667%;
    }
</style>

<script>
    var noDisplay = '@modeAdd';
    function onClick(e) {
        var map = $("#map").data("kendoMap");
        map.bind("click", function (e) {
            if (map.markers.items.length == 0) {
                map.markers.add({ location: e.location })
            } else {
                var marker = map.markers.items[0];
                marker.location(e.location);
            }
            $('#Latitude').val(e.location.lat);
            $('#Longitude').val(e.location.lng);

        });
    }

</script>
@*
<script src="~/Scripts/Wizared/Tabs.js"></script>*@