﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/swal/swal.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_ProfiletargetNewDoctor>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.TargetDoctorApprovalId).Hidden();
                    columns.Bound(p => p.DoctorName).Title(PH.Doctor.DoctorName).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.AccountName).Title(PH.Doctor.Account).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.ApprovalStatus).Title(PH.NewDoctorRequest.Supervisor)
                 .ClientTemplate(
               @"# if (ApprovalStatus == null) {##}
                else if(ApprovalStatus == 'p'){# <img width=30 height=30 id='pending_#=TargetDoctorApprovalId#' src='" + @Url.Content("~/images/icons/pendd.png") + "'> #} else if(ApprovalStatus == 'a'){# <img width=30 height=30 id='approve_#=TargetDoctorApprovalId#' src='" + @Url.Content("~/images/chk_green.png") + "'> #}else if(ApprovalStatus == 'r'){# <img width=30 height=30 id='reject_#=TargetDoctorApprovalId#' src='" + @Url.Content("~/Images/icons/rejecticon.jpg") + "'> #}else{# <img width=30 height=30 id='draft_#=TargetDoctorApprovalId#' src='" + @Url.Content("~/Images/icons/draft.png") + "'> #}#").AddDefaultOptionsAndViewInMobile();
                
                    columns.Bound(p => p.AdminApprove).Title(PH.NewDoctorRequest.Admin)
                  .ClientTemplate(
               @"# if (AdminApprove == null) {##}
                else if(AdminApprove == 'p'){# <img width=30 height=30 id='pending_#=TargetDoctorApprovalId#' src='" + @Url.Content("~/images/icons/pendd.png") + "'> #} else if(AdminApprove == 'a'){# <img width=30 height=30 id='approveadmin_#=TargetDoctorApprovalId#' src='" + @Url.Content("~/images/chk_green.png") + "'> #}else{# <img width=30 height=30 id='reject_#=TargetDoctorApprovalId#' src='" + @Url.Content("~/Images/icons/rejecticon.jpg") + "'> #}#").AddDefaultOptionsAndViewInMobile(); ;

                    //columns.AddActionColumns("TargetDoctorApprovalId");
                    columns.AddActionColumns("TargetDoctorApprovalId",
                      ListActionColumn.GenericSwALColumn("TargetDoctorApprovalId", Url.Action("Edit", formController), "glyphicon glyphicon-pencil pencil", false,"edit"),
                     ListActionColumn.GenericSwALColumn("TargetDoctorApprovalId", Url.Action("SendDocotrRequest", formController), "fa fa-paper-plane", true, "send", PH.SWAL.SwALDone,
                       string.Format(PH.SWAL.SwALSuccessMessage, PH.NewDoctorRequest.ViewNameSingular, PH.SWAL.Send), PH.SWAL.SwAlCancelled, string.Format(PH.SWAL.SwAlSafe, PH.NewDoctorRequest.ViewNameSingular), PH.SWAL.SwALConfirmquestion, string.Format(PH.SWAL.SwALWillSend, PH.NewDoctorRequest.ViewNameSingular), PH.SWAL.SwALwarning, PH.SWAL.SwALSend
                       , PH.SWAL.SwALNoCancel));
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                    .AddDefaultOptions()
                                    .Events(e => e.DataBound("OnDataBound"))
                                    .DataSource(dataSource => dataSource
                                        .AddDefaultSettings(model =>
                                        {
                                            model.Id(p => p.TargetDoctorApprovalId);
                                            model.Field(a => a.TargetDoctorApprovalId).Editable(false);
                                        })
                                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.PotentialCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.PotentialName#</p>

        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>
<script>
     OnDataBound = (e) => {
         var rows = $("#Grid").data("kendoGrid").dataSource.data();
         console.log(rows);
        jQuery.each(rows, function (i, val) {
            if (val.ApprovalStatus == '@Services.Helper.EnumHelpers.DescriptionAttr( @Services.Helper.EnumHelpers.NewDoctorSataus.Pending)' ||
                    val.ApprovalStatus == '@Services.Helper.EnumHelpers.DescriptionAttr( @Services.Helper.EnumHelpers.NewDoctorSataus.Approved)'|| val.ApprovalStatus == '@Services.Helper.EnumHelpers.DescriptionAttr( @Services.Helper.EnumHelpers.NewDoctorSataus.Rejected)') {
                $('#send_' + val.TargetDoctorApprovalId).hide();
                $('#edit_' + val.TargetDoctorApprovalId).hide();
            }
            $('#send_' + val.TargetDoctorApprovalId).kendoTooltip({ content:'@PH.NewDoctorRequest.TooltipSend', position: "top",width: 120});
            $('#pending_' + val.TargetDoctorApprovalId).kendoTooltip({ content:'@PH.NewDoctorRequest.TooltipPending', position: "top",width: 120});
            $('#draft_' + val.TargetDoctorApprovalId).kendoTooltip({ content:'@PH.NewDoctorRequest.TooltipDraft', position: "top",width: 120});
            $('#approve_' + val.TargetDoctorApprovalId).kendoTooltip({ content: '@PH.NewDoctorRequest.TooltipApproved', position: "top", width: 120 });
            $('#reject_' + val.TargetDoctorApprovalId).kendoTooltip({ content: '@PH.NewDoctorRequest.TooltipRejected', position: "top", width: 120 });
            $('#approveadmin_' + val.TargetDoctorApprovalId).kendoTooltip({ content: '@PH.NewDoctorRequest.TooltipApproved', position: "top", width: 120 });

         });
         
    }
</script>