﻿@model DB.ORM.DB.TierBonu
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            @(modeAdd ? null : Html.HiddenFor(m => m.TierBonusId))
            @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, true, PH.Tier.Product)
            @Html.FormDropDownListRow(m => m.TierId, (List<SelectListItem>)ViewBag.Tiers, true, PH.Tier.TierId)

            @Html.FormEditorRow(m => m.SalesQty, PH.Tier.SalesQty)
            @Html.FormEditorRow(m => m.BonusQty, PH.Tier.BonusQty)

            @*@Html.FormEditorRow(m => m.FromPeriod, "From", true)*@

            @Html.FormEditorRow("From", Html.Kendo().DatePickerFor(m => m.FromPeriod), null, "", false, false, true)

            @Html.FormEditorRow("To", Html.Kendo().DatePickerFor(m => m.ToPeriod))


            @Html.FormActionsRow()
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
