﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();

}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_TierBonus>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                        columns.Bound(e => e.TierBonusId).Hidden(true);

                        columns.Bound(e => e.TierId).Hidden(true);
                        columns.Bound(e => e.ProductId).Hidden(true);

                        columns.Bound(e => e.ProductName).Title(PH.Product.product);
                        columns.Bound(e => e.TierName).Title(PH.Tier.TierName);
                        columns.Bound(e => e.SalesQty).Title(PH.Tier.SalesQty);
                        columns.Bound(e=>e.BonusQty).Title(PH.Tier.BonusQty);

                        columns.AddActionColumns("TierBonusId");
                    })
                .AddDefaultOptions()
                .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.TierBonusId);
                            model.Field(a => a.TierBonusId).Editable(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.CountryCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.CountryName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>