﻿@model DB.ORM.DB.DistributorAccountMapping
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var action = this.ViewContext.RouteData.Values["action"].ToString();
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(action, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
        <div class="form-body">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @(modeAdd ? null : Html.HiddenFor(m => m.DistributorAccountMappingId))
            @Html.FormDropDownListRow(m => m.DistributorId, (List<SelectListItem>)ViewBag.Distributors, true,PH.Distributor.distributor)
            @Html.FormDropDownListRow(m => m.AccountId, "valueMapper", "ReadAccountsList", "Lookup", "AccountName", "AccountId", "#= AccountCode# | #= AccountName # from: #=TerritoryName# , address: #=Address#", true,PH.Distributor.AccountId)
            @Html.FormEditorRow(m => m.AccountCode,PH.Distributor.AccountCode,true)
            @Html.FormEditorRow(m => m.AccountName, PH.Distributor.AccountName)
            @Html.FormEditorRow(m => m.AccountAddress, PH.Distributor.AccountAddress)


            @Html.FormActionsRow("Edit", new { id = Model.DistributorId }, "tab_distributorAccountMapping")
        </div>
        }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>
    function valueMapper(options) {
        $.ajax({
            url: "@Url.Action("Accounts_ValueMapper", "Lookup")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>