﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_Distributor>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.DistributorId).Hidden();
            columns.Bound(p => p.DistributorCode).Title(PH.Distributor.DistributorCode).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.DistributorName).Title(PH.Distributor.DistributorName).AddDefaultOptionsAndViewInMobile();
            columns.Bound(p => p.HasPlugin).Title(PH.Distributor.HasPlugin).AddDefaultOptions();
            columns.Bound(p => p.BranchesCount).Title(PH.Distributor.BranchesCount).AddDefaultOptions();
            columns.Bound(p => p.CountryCode).Title(PH.Distributor.CountryCode).AddDefaultOptions();
            columns.AddAuditColumns();
            columns.AddActionColumns("DistributorId");
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
                })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.DistributorId);
                            model.Field(a => a.DistributorId).Editable(false);
                        })
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Code</strong>
            <p class="col-template-val">#=data.DistributorCode#</p>

            <strong>Name</strong>
            <p class="col-template-val">#=data.DistributorName#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>