﻿@model DB.ORM.DB.Tier
@{
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List")
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.Tier>()
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Bound(p => p.TierId).Hidden();

                columns.Bound(p => p.TierName).Title(PH.Tier.TierName);
                columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);


            })
            .ToolBar(toolbar => toolbar.Create().Text("Add"))
            .Editable(editable => editable.Mode(GridEditMode.InLine))
            .AddDefaultOptions()
            .DataSource(dataSource => dataSource
            .Ajax()
            .Model(model =>
            {
                model.Id(p => p.TierId);
            }).Events(e => e.Sync("reload"))
            .Read(u => u.Action("ReadList", formController))
            .Create(u => u.Action("SaveTier", formController))
            .Update(u => u.Action("SaveTier", formController))
            .Destroy(u => u.Action("DeleteTier", formController))))
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>PointValue</strong>
            <p class="col-template-val">#=data.PointValue#</p>
            <strong>PointDescription</strong>
            <p class="col-template-val">#=data.PointDescription#</p>
            <strong>PointDescriptionAr</strong>
            <p class="col-template-val">#=data.PointDescriptionAr#</p>



        </script>
        <script>var resColTemplate = kendo.template($("#responsive-column-template").html());</script>
        <style>

            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>

        <!-- /Grid Mobile View -->
    </div>
</div>


<script src="~/Scripts/swal/swal.js"></script>

<script>
    reload = () => {

        var grid = $('#Grid').data('kendoGrid');
        grid.dataSource.read();
        grid.refresh();
    }
</script>
