﻿@model DB.ORM.DB.ProductPresentation 
@{
    var modeAdd = Convert.ToBoolean(ViewData["addMode"]);
    var title = modeAdd ? "Create" : "Edit";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    var eName = ViewData["EntityName"];
}

<!-- tile -->
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)title + " " + eName)
    <!-- tile body -->
    <div class="portlet-body form">
        @*@Ajax.BeginForm(,new AjaxOptions() {  })*@
        @using (Html.BeginForm(title, formController, FormMethod.Post, new { @id = "Main", @role = "form" }))
        {
             <div class="form-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row">
                    <div class="col-md-9">
                        @(modeAdd ? null : Html.HiddenFor(m => m.PresentationId))
                        @Html.FormEditorRow(m => m.PresentationName, PH.ProductPresentation.Presentation, true)
                        @Html.FormDropDownListRow(m => m.ProductId, (List<SelectListItem>)ViewBag.Products, true, PH.ProductPresentation.Product)
                        @Html.FormEditorRow(m => m.Active, PH.ProductPresentation.Active)
                    </div>
                    <div class="col-md-3">
                        <div style="margin-left: 5px; margin-right: 5px;margin-top: 50px" >
                            @(Html.Kendo().Upload()
                                                                                    .Name("UploadFile")
                                                                                    .ShowFileList(true)
                                                                                    .Multiple(false)
                                                                                    .Events(e => e.Select("onUpload")
                                                                                    )

                            )
                            @*<div style="margin-bottom:20px" class="clearfix margin-top-10">
                                <span class="label label-danger"> @PH.ProductPresentation.NOTE </span>
                                <span>@PH.ProductPresentation.Filessupported </span>
                            </div>*@
                        </div>
                    </div>
                </div>
            
                   @Html.FormActionsRow()
             </div>
         }
    </div>
    <!-- /tile body -->
</div>
<!-- /tile -->
<script>
  function onUpload(e) {
      var files = e.files;

        $.each(files, function () {

            if (this.extension.toLowerCase() == ".exe") {
                //alert("not allowed Exe")
                swal('@PH.ProductPresentation.warningHeader','@PH.ProductPresentation.Filessupported', '@PH.ProductPresentation.warning');
                e.preventDefault();
            }

            //if (this.size / 1024 / 1024 > 5) {
            //    alert("Max 5Mb file size is allowed!")
            //    e.preventDefault();
            //}
        });
    }
</script>