﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
    bool succes=false;
}
<script src="~/Scripts/Grid/gridDelete.js"></script>
<script src="~/Scripts/swal/swal.js"></script>
<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_ProductPresentation>()
            .Name("Grid")
            .Columns(columns =>
            {
            columns.Bound(p => p.PresentationId).Hidden();
            columns.Bound(p => p.Ext).Title(PH.ProductPresentation.Ext)
               .ClientTemplate(
               @"# if (Ext == null) {#<img width=30 height=30 onerror='imgError(this);' src='#=Ext#'/>#} 
                else if(Ext == 'pdf'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/pdf.png") + "'> #} else if(Ext == 'docx'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/doc.png") + "'> #}else if(Ext == 'pptx'){# <img width=30 height=30 src='" + @Url.Content("~/images/icons/pptx.png") + "'> #} else{# <img width=30 height=30 src='" + @Url.Content("~/Images/icons/default.png") + "'> #}#")
                   .AddDefaultOptions().Filterable(false);
            columns.Bound(p => p.ProductName).Title(PH.ProductPresentation.Product).AddDefaultOptions().Groupable(true);
            columns.Bound(p => p.PresentationName).Title(PH.ProductPresentation.Presentation).AddDefaultOptions();
            columns.Bound(p => p.Active).Title(PH.ProductPresentation.Active).AddDefaultOptions();
            columns.AddActionColumns("PresentationId",
        ListActionColumn.GenericSwALColumn("PresentationId",null, "fa fa-download", false,"download"),
        ListActionColumn.GenericSwALColumn("PresentationId", Url.Action("ToogleActive", formController), "fa fa-close", true, "close", PH.SWAL.Deactivated,
                        string.Format(PH.SWAL.SwAlDeActivatedDone,PH.ProductPresentation.Presentation), PH.SWAL.SwAlCancelled, string.Format(PH.SWAL.SwAlRelatedData,PH.ProductPresentation.Presentation), PH.SWAL.SwALTitle, string.Format(PH.SWAL.SwAlWillDeActivated, PH.ProductPresentation.Presentation), PH.SWAL.warning, PH.SWAL.SwAlYesDeActivated
                        , PH.SWAL.SwAlCancelText, string.Format(PH.SWAL.SwAlSafe, PH.ProductPresentation.Presentation)),
        ListActionColumn.GenericSwALColumn("PresentationId", Url.Action("ToogleActive", formController), "fa fa-check", true, "activate", PH.SWAL.Activated,
                        string.Format(PH.SWAL.SwAlActivatedDone, PH.ProductPresentation.Presentation), PH.SWAL.SwAlCancelled, string.Format(PH.SWAL.SwAlRelatedData, PH.ProductPresentation.Presentation), PH.SWAL.SwALTitle, string.Format(PH.SWAL.SwAlWillActivate, PH.ProductPresentation.Presentation), PH.SWAL.warning, PH.SWAL.SwAlYesActivated
                        , PH.SWAL.SwAlCancelText, string.Format(PH.SWAL.SwAlSafe, PH.ProductPresentation.Presentation)),
        ListActionColumn.GenericSwALColumn("PresentationId", Url.Action("DeletePresentation", formController), "glyphicon glyphicon-trash trashIcon", true, "delete", PH.SWAL.Deleted,
                       string.Format(PH.SWAL.SwAlDeleted, PH.ProductPresentation.Presentation), PH.SWAL.SwAlCancelled, string.Format(PH.SWAL.SwAlRelatedData, PH.ProductPresentation.Presentation), PH.SWAL.SwALTitle, string.Format(PH.SWAL.SwAlWillDelete, PH.ProductPresentation.Presentation), PH.SWAL.warning, PH.SWAL.SwAlYesDelete
                        , PH.SWAL.SwAlCancelText, string.Format(PH.SWAL.SwAlSafe, PH.ProductPresentation.Presentation)));
            columns.Template(@<text></text>).AddDefaultMobileTemplate();
            })
                    .AddDefaultOptions()
                    .Events(e => e.DataBound("OnDataBound"))
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.PresentationId);
                            model.Field(a => a.PresentationId).Editable(false);
                        })
                        //.Ajax().Group(g => g.Add(a => a.ProductName))
                    )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Product</strong>
            <p class="col-template-val">#=data.ProductName#</p>

            <strong>Dosage</strong>
            <p class="col-template-val">#=data.DosageFormName#</p>

            <strong>Distributor</strong>
            <p class="col-template-val">#=data.DistributorName#</p>

            <strong>Price</strong>
            <p class="col-template-val">#=data.Price#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>

<script>
   
     OnDataBound = (e) => {
        var rows = $("#Grid").data("kendoGrid").dataSource.data();
        jQuery.each(rows, function (i, val) {
            if (val.Active == true) {
                $('#activate_' + val.PresentationId).hide();
                $('#close_' + val.PresentationId).show();
            }
            else
            {
                $('#close_' + val.PresentationId).hide();
                $('#activat_' + val.PresentationId).show();
            }
            $('#delete_' + val.PresentationId).kendoTooltip({ content: '@PH.Tooltip.DeletePresentation', position: "top", width: 120 });
            $('#activate_' + val.PresentationId).kendoTooltip({ content: '@PH.Tooltip.ActivatePresentation' , position: "top",width: 120});
            $('#close_' + val.PresentationId).kendoTooltip({ content: '@PH.Tooltip.DeactivatePresentation', position: "top", width: 120});
            $('#download_' + val.PresentationId).kendoTooltip({ content: '@PH.Tooltip.DownloadPresentation', position: "top", width: 120 });

            $('#download_' + val.PresentationId).on("click", function (e) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Download", formController)',
                    data: { id: val.PresentationId },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        if (data == true) { 
                            window.open('@Url.Content("~/")' + val.FilePath);
                            e.preventDefault();
                            return false;
                        } else {
                            swal('@PH.ProductPresentation.warningHeader', '@PH.ProductPresentation.FileNotExist','@PH.ProductPresentation.warning');
                           e.preventDefault();
                            //return false;
                        }
                    },
                    error: function (httpRequest, textStatus, errorThrown) { }
                });
            });
        });
     }
</script>