﻿
@{
    Layout = "~/Views/Shared/_RepLayout.cshtml";
    var formController = this.ViewContext.RouteData.Values["controller"].ToString();
}

@*<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-green-sharp">
                        <span data-counter="counterup" data-value="@(Model.Coverage?.ToString("#,#"))">@(Model.Coverage?.ToString("#,#"))</span>
                        @*<small class="font-green-sharp">$</small>
                    </h3>
                    <small>Coverage</small>
                </div>
                <div class="icon">
                    <i class="icon-basket-loaded"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-red-haze">
                        <span data-counter="counterup" data-value="@(Model.CallRate?.ToString("#,#"))">@(Model.CallRate?.ToString("#,#"))</span>
                        <small class="font-red-haze">$</small>
                    </h3>
                    <small>Call Rate</small>
                </div>
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
            </div>
        </div>
    </div>
    @*<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="dashboard-stat2 ">
            <div class="display">
                <div class="number">
                    <h3 class="font-blue-sharp">
                        <span data-counter="counterup" data-value="@(Model.SalesAchievementPercentage?.ToString("0.0%"))">@(Model.SalesAchievementPercentage?.ToString("0.0%"))</span>
                        @*<small class="font-blue-sharp">%</small>
                    </h3>
                    <small>Achieved %</small>
                </div>
                <div class="icon">
                    <i class="fa fa-anchor"></i>
                </div>
            </div>
        </div>
    </div>
</div>*@
<div class="row">
    <div class="col-md-6">
        <div class="portlet light ">
            @Html.FormHeaderWithButtons("Coverage")
            <div class="portlet-body form">
                @(Html.Kendo().Grid<DB.ORM.DB.VisitsCoverage>()
                        .Name("coverage_Grid")
                        .Columns(columns =>
                        {

                            columns.Bound(p => p.PeriodName).Title(PH.RepHome.PeriodName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.Year).Title(PH.RepHome.Year).AddDefaultOptions();
                            columns.Bound(p => p.AccountsCoverage).Title(PH.RepHome.AccountsCoverage).AddDefaultOptions().Format("{0:0,0.00}");
                        })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.ProfileTargetId);
                            }, read => read.Action("_GetRepCoverage_Table", formController))
                        )
                )
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light ">
            @Html.FormHeaderWithButtons("Call Rate")
            <div class="portlet-body form">
                @(Html.Kendo().Grid<DB.ORM.DB.VisitsCallRate>()
                    .Name("callrate_Grid")
                    .Columns(columns =>
                    {

                        columns.Bound(p => p.PeriodName).Title(PH.RepHome.PeriodName).AddDefaultOptionsAndViewInMobile();
                        columns.Bound(p => p.Year).Title(PH.RepHome.Year).AddDefaultOptions();
                        columns.Bound(p => p.AccountsCallRate).Title(PH.RepHome.AccountsCallRate).AddDefaultOptions().Format("{0:0,0.00}");
                    })
                    .AddDefaultOptions()
                    .DataSource(dataSource => dataSource
                        .AddDefaultSettings(model =>
                        {
                            model.Id(p => p.ProfileTargetId);
                        }, read => read.Action("_GetRepCallRate_Table", formController))
                    )
                )
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            @Html.FormHeaderWithButtons("Sales Achivement %")
            <div class="portlet-body form">
                 TODO: should be  modified to Sales Achievement from staging.InMarketsales 
                @(Html.Kendo().Grid<DB.ORM.DB.VisitsCallRate>()
                        .Name("salesAch_Grid")
                        .Columns(columns =>
                        {

                            columns.Bound(p => p.PeriodName).AddDefaultOptionsAndViewInMobile();
                            columns.Bound(p => p.Year).AddDefaultOptions();
                            columns.Bound(p => p.AccountsCallRate).AddDefaultOptions().Format("{0:0,0.00}");
                        })
                        .AddDefaultOptions()
                        .DataSource(dataSource => dataSource
                            .AddDefaultSettings(model =>
                            {
                                model.Id(p => p.ProfileTargetId);
                            }, read => read.Action("_GetRepSalesAch_Table", formController))
                        )
                )
            </div>
        </div>
    </div>

</div>*@

