﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Grid/gridDelete.js"></script>

<div class="portlet light ">
    @Html.FormHeaderWithButtons((string)ViewBag.Title + " List", FormHeaderButton.AddButton())
    <div class="portlet-body form">
        @(Html.Kendo().Grid<DB.ORM.DB.vw_TargetProduct>()
                    .Name("Grid")
                    .Columns(columns =>
                    {
                    columns.Bound(p => p.TargetId).Hidden();
                    columns.Bound(p => p.Year).Title(PH.TargetAnalyzer.Year).AddDefaultOptionsAndViewInMobile();
                    columns.Bound(p => p.Qty).AddDefaultOptionsAndViewInMobile().Format("{0:0,0}").Title(PH.TargetAnalyzer.Qty);
                    columns.Bound(p => p.Amount).AddDefaultOptionsAndViewInMobile().Format("{0:0,0}").Title(PH.TargetAnalyzer.Amount);
                    columns.Bound(p => p.QtyGrowth).AddDefaultOptions().Format("{0:0.0%}").Title(PH.TargetAnalyzer.QtyGrowth);
                    columns.Bound(p => p.AmountGrowth).AddDefaultOptions().Format("{0:0.0%}").Title(PH.TargetAnalyzer.AmountGrowth);
                    columns.Bound(p => p.CountryCode).Title(PH.TargetAnalyzer.CountryCode).AddDefaultOptionsAndViewInMobile();
                    columns.AddAuditColumns();
                    columns.AddActionColumns("TargetId");
                    columns.Template(@<text></text>).AddDefaultMobileTemplate();
                        })
                                .AddDefaultOptions()
                                .DataSource(dataSource => dataSource
                                    .AddDefaultSettings(model =>
                                    {
                                        model.Id(p => p.TargetId);
                                        model.Field(a => a.TargetId).Editable(false);
                                    })
                                )
        )
        <!-- Grid Mobile View -->
        <script id="responsive-column-template" type="text/x-kendo-template">
            <strong>Year</strong>
            <p class="col-template-val">#=data.Year#</p>

            <strong>Country</strong>
            <p class="col-template-val">#=data.CountryCode#</p>

            <strong>Qty</strong>
            <p class="col-template-val">#=data.Qty# with Growth #=data.QtyGrowth#</p>

            <strong>Amount</strong>
            <p class="col-template-val">#=data.Amount# with Growth #=data.AmountGrowth#</p>
        </script>
        <script>
            var resColTemplate = kendo.template($("#responsive-column-template").html());
        </script>
        <style>
            .col-template-val {
                margin: 0 0 1em .5em;
            }
        </style>
        <!-- /Grid Mobile View -->
    </div>
</div>